<form
  id="form_{$acak}"
  method="post"
  url="{$host}backoffice-simpan/data_faskes"
  enctype="multipart/form-data"
>
  <input type="hidden" name="id" value="{$data.id|default:''}" />
  <input type="hidden" name="editstatus" value="{$sts|default:'add'}" />

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Form Isian</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row" style="margin-bottom: 10px">
                <div class="col-md-6">
                  <input
                    type="hidden"
                    name="cl_kelurahan_desa_id"
                    value="{$cl_kelurahan_desa_id}"
                  />
                  {include file="backend/template/input_form.html"
                  required="true" label="Kelurahan" class_width="col-lg-12"
                  type="baca_aja" value="{$kel.nama|default:''}" }
                </div>
              </div>
              <div class="row" style="margin-bottom: 10px">                
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Kode Faskes" 
                  class_width="col-lg-12" type="pnj_karakter" required="true"
                  name="kode" id="kode"
                  value="{$data.kode|default:''}"}
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Nama
                  Faskes" class_width="col-lg-12" type="text" required="true"
                  name="nama" id="nama"
                  value="{$data.nama|default:''}"}
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Alamat" 
                  class_width="col-lg-12" type="textarea" required="true"
                  name="alamat" id="alamat"
                  value="{$data.alamat|default:''}"}
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html"
                  label="Jenis" class_width="col-lg-12" type="select"
                  required="true" name="jenis" id="jenis"
                  option={$jenis_rs|default:''} }
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html"
                  label="Kelas" class_width="col-lg-12" type="select"
                  required="false" name="kelas" id="kelas"
                  option={$kelas_rs|default:''} }
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html"
                  label="Jenis Pelayanan" class_width="col-lg-12" type="select"
                   name="jenis_pelayanan" id="jenis_pelayanan"
                  option={$jenis_pelayanan|default:''} }
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html"
                  label="Akreditasi" class_width="col-lg-12" type="select"
                  required="true" name="akreditasi" id="akreditasi"
                  option={$akreditasi|default:''} }
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Kepemilikan" 
                  class_width="col-lg-12" type="text" required="true"
                  name="kepemilikan" id="kepemilikan"
                  value="{$data.kepemilikan|default:''}"}
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Pemilik" 
                  class_width="col-lg-12" type="text" required="true"
                  name="pemilik" id="pemilik"
                  value="{$data.pemilik|default:''}"}
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Telp" 
                  class_width="col-lg-12" type="text" required="true"
                  name="telp" id="telp"
                  value="{$data.telp|default:''}"}
                </div>
              <div class="col-md-4">
                {include file="backend/template/input_form.html" label="Koordinat (Ambil Dari Google Map)" 
                class_width="col-lg-12" type="text" required="true" placeholder="contoh: -5.13935799930719, 119.45180916240452"
                name="koordinat" id="koordinat"
                value="{$kor|default:''}"}
              </div>
              </div>

              
              <!-- <div class="row">
								<div class='col-md-12'>
									<fieldset class='form-group'>
										<legend style='border-color:#E17A35 !important;border-width:3px !important;padding:5px;color:#E17A35;font-weight:bold;font-size:16px;margin-bottom:5px;margin-top:15px;'>STATUS DATA</legend>
									</fieldset>
								</div>
								<div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="Status" class_width="col-lg-12" type="select" name="status_data" id="status_data" option={$status_data|default:''} }
								</div>
							</div> -->

              <div class="row">
                <div class="col-md-12">
                  <hr />
                  {include file="backend/template/input_form.html" label="Upload
                  File *jpg|jpeg|png|pdf" class_width="col-lg-12" type="filemulti"
                  name="files[]" id="file" value="{$data.file|default:''}"}
                  <br />
                  {include file="backend/template/button_save.html"
                  text="Simpan" id_na="save" style_btn="btn-success"
                  btn_goyz="false"} {include
                  file="backend/template/button_save.html" text="Kembali"
                  click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();"
                  id_na="cancel" style_btn="btn-danger" btn_goyz="true"}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  var rulesnya = {
    cl_kelurahan_desa_id: "required",
    kode: "required",
    nama: "required",
    alamat: "required",
    jenis: "required",
    kepemilikan: "required",
    akreditasi:"required",
    pemilik: "required",
    telp: "required",
    koordinat: "required"
  };

  $(".angka").autoNumeric("init", {
    aSep: ".",
    aDec: ",",
    mDec: "0",
  });

  var messagesnya = {
    cl_kelurahan_desa_id: "<i style='color:red'>Harus Diisi</i>",
    kode: "<i style='color:red'>Harus Diisi</i>",
    nama: "<i style='color:red'>Harus Diisi</i>",
    alamat: "<i style='color:red'>Harus Diisi</i>",
    jenis: "<i style='color:red'>Harus Diisi</i>",
    akreditasi: "<i style='color:red'>Harus Diisi</i>",
    kepemilikan: "<i style='color:red'>Harus Diisi</i>",
    pemilik: "<i style='color:red'>Harus Diisi</i>",
    telp: "<i style='color:red'>Harus Diisi</i>",
    koordinat: "<i style='color:red'>Harus Diisi</i>"
  };

  $("#form_{$acak}").validate({
    rules: rulesnya,
    messages: messagesnya,
    submitHandler: function (form) {
      if ($("#bp").val() == "") {
        $("#bp").focus();
        return false;
      }
      $.LoadingOverlay("show");
      submit_form("form_{$acak}", function (r) {
        if (r == 1) {
          $.messager.alert(nama_apps, "Data Tersimpan", "info");
          $("#cancel_{$acak}").trigger("click");
          $("#grid_data_faskes").datagrid("reload");
        } else {
          $.messager.alert(
            nama_apps,
            "Proses Simpan Data Gagal " + r,
            "warning"
          );
        }
        $.LoadingOverlay("hide", true);
      });
    },
    errorPlacement: function (error, element) {
      var name = element.attr("name");
      var errorSelector = '.validation_error_message[for="' + name + '"]';
      var $element = $(errorSelector);
      if ($element.length) {
        $(errorSelector).html(error.html());
      } else {
        error.insertAfter(element);
      }
    },
  });
</script>
