<form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/data_penandatanganan" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="{$data.id|default:''}">
	<input type="hidden" name="editstatus" value="{$sts|default:'add'}">

	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Form Isian</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12"> 
							
							<div class="row" >
								<div class='col-md-12'>
									<fieldset class='form-group'>
										<legend style='border-color:#E17A35 !important;border-width:3px !important;padding:5px;color:#E17A35;font-weight:bold;font-size:16px;margin-bottom:5px;margin-top:15px;'>DATA PENANDATANGANAN</legend>
									</fieldset>
								</div>
								<div class="col-md-4">
									{include file="backend/template/input_form.html" required="true" label="NIP / NIK" placeholder="Isi NIP untuk pejabat Kelurahan/Kecamatan dan Lainnya Isi NIK" class_width="col-lg-12" type="pnj_karakter_nip" name="nip" id="nip" value="{$data.nip|default:''}"}
								</div>
								<div class="col-md-4">
									{include file="backend/template/input_form.html" required="true" label="Nama" class_width="col-lg-12" type="text" name="nama" id="nama" value="{$data.nama|default:''}"}
								</div>
								<div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="No. Telp" class_width="col-lg-12" type="pnj_hp" name="no_telp" id="no_telp" value="{$data.no_telp|default:''}"}
								</div>
								<div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="Tingkat Jabatan" class_width="col-lg-12" type="select" name="tingkat_jabatan" id="tingkat_jabatan" option={$pilih_tingkat_jabatan|default:''} }
								</div>
							</div>
							<div class="row" style="margin-bottom:10px;"> 
								<div class="col-md-5">
									{include file="backend/template/input_form.html" required="true" label="Jabatan" class_width="col-lg-12" type="text" name="jabatan" id="jabatan" value="{$data.jabatan|default:''}" }
								</div>
								<div class="col-md-4">
									{include file="backend/template/input_form.html" required="true" label="Pangkat" class_width="col-lg-12" type="select2" name="pangkat" id="pangkat" option={$pilih_pangkatx|default:''} }
								</div>
								<div class="col-md-3">
									{include file="backend/template/input_form.html" required="true" label="Status" class_width="col-lg-12" type="select" name="status" id="status" option={$pilih_status|default:''} }
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<hr />
									{include file="backend/template/button_save.html" text="Simpan" id_na="save" style_btn="btn-success"  btn_goyz="false"}
									{include file="backend/template/button_save.html" text="Kembali" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}	
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</form>

<script>
	// if(edistatus == 'edit'){
	// 	$("#nip").prop("readonly",true);
	// }else{
	// 	$("#nip").prop("readonly",false);
	// }
	$('#nip').on('keyup', function() {
		if (this.value.length != 16 && this.value.length != 18) {
			document.getElementById("nip").style.borderColor = "red";
		}else{
			document.getElementById("nip").style.borderColor = "green";
		}
		
	});
	var rulesnya = {
		nip : "required",
		nama : "required",
		pangkat : "required",
		jabatan : "required",
		status : "required",
		no_telp : "required",
		
	};

	// $('.angka').autoNumeric('init', {
	// 	aSep : '.',
	// 	aDec: ',',
	// 	mDec: '0'
	// });

	var messagesnya = {
		nip : "<i style='color:red'>Harus Diisi</i>",
		nama : "<i style='color:red'>Harus Diisi</i>",
		pangkat : "<i style='color:red'>Harus Diisi</i>",
		jabatan : "<i style='color:red'>Harus Diisi</i>",
		status : "<i style='color:red'>Harus Diisi</i>",
		no_telp : "<i style='color:red'>Harus Diisi</i>",
		
	}

	$( "#form_{$acak}" ).validate( {
		rules: rulesnya,
		messages: messagesnya,
		submitHandler: function(form) {
		var cek = $('#nip').val();
		var pnj = cek.length;
		if (pnj != 16 && pnj != 18) {
			$.messager.alert(nama_apps,'NIP tidak valid ','error');
		}else{
			$.LoadingOverlay("show");
			submit_form('form_{$acak}',function(r){
				if(r == 1 ){ 
					$.messager.alert(nama_apps,'Data Tersimpan','info'); 
					$('#cancel_{$acak}').trigger('click');
					$('#grid_data_penandatanganan').datagrid('reload');
				}else if(r == 2){ 
					$.messager.alert(nama_apps,'NIP sudah digunakan!','warning'); 
				}else{ 
					$.messager.alert(nama_apps,'Proses Simpan Data Gagal '+r,'error'); 
				}
				$.LoadingOverlay("hide", true);
			});
		}
			//*/
		},
		errorPlacement: function(error, element) {
	        var name = element.attr('name');
	        var errorSelector = '.validation_error_message[for="' + name + '"]';
	        var $element = $(errorSelector);
	        if ($element.length) { 
	            $(errorSelector).html(error.html());
	        } else {
	            error.insertAfter(element);
	        }
	    }
	} );

	// $("#form_{$acak}").validate({
	// 	rules: rulesnya,
	// 	messages: messagesnya,
	// 	submitHandler: function(form) {
	// 		var nip = $('#nip').val();
	// 		var panjangNip = nip.length;

	// 		if (panjangNip != 16 && panjangNip != 18) {
	// 		$.messager.alert(nama_apps, 'NIP tidak valid', 'error');
	// 		return false;
	// 		}

	// 		$.LoadingOverlay("show");

	// 		// ✅ Fungsi submit_form dijalankan hanya setelah form valid & tombol simpan ditekan
	// 		submit_form('form_{$acak}', function(r){
	// 		console.log("Response dari server:", r);

	// 		try {
	// 			var res = (typeof r === "string") ? JSON.parse(r) : r;

	// 			if (res.status === "success") {
	// 			$.messager.alert(nama_apps, res.message, 'info'); 
	// 			$('#cancel_{$acak}').trigger('click');
	// 			$('#grid_data_penandatanganan').datagrid('reload');
	// 			} else if (res.status === "warning") {
	// 			$.messager.alert(nama_apps, res.message || 'Peringatan saat menyimpan data.', 'warning');
	// 			} else {
	// 			$.messager.alert(nama_apps, res.message || 'Terjadi kesalahan saat menyimpan data.', 'error');
	// 			}
	// 		} catch (e) {
	// 			$.messager.alert(nama_apps, 'Proses Simpan Data Gagal (format tidak dikenali): ' + r, 'error');
	// 		}

	// 		$.LoadingOverlay("hide", true);
	// 		});
	// 	},
	// 	errorPlacement: function(error, element) {
	// 		var name = element.attr('name');
	// 		var errorSelector = '.validation_error_message[for="' + name + '"]';
	// 		var $element = $(errorSelector);
	// 		if ($element.length) { 
	// 		$(errorSelector).html(error.html());
	// 		} else {
	// 		error.insertAfter(element);
	// 		}
	// 	}
	// 	});


</script>