<form
  id="form_{$acak}"
  method="post"
  url="{$host}backoffice-simpan/data_petugas_kebersihan"
  enctype="multipart/form-data"
>
  <input type="hidden" name="id" value="{$data.id|default:''}" />
  <input type="hidden" name="editstatus" value="{$sts|default:'add'}" />

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Form Isian</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row" style="margin-bottom: 10px">
                <!-- <div class="col-md-6">
                  {include file="backend/template/input_form.html"
                  required="true" label="Kelurahan" class_width="col-lg-12"
                  type="baca_aja" name="cl_kelurahan_desa_id"
                  id="cl_kelurahan_desa_id" value="{$kel.nama|default:''}" }
                </div> -->
                <div class="col-md-6">
                  <input type="hidden" name="cl_kelurahan_desa_id" value="{$cl_kelurahan_desa_id}"/>
                  {include file="backend/template/input_form.html" required="true" label="Kelurahan" class_width="col-lg-12"
                  type="baca_aja" value="{$kel.nama|default:''}" }
                </div>
              </div>

              <div class="row" style="margin-bottom: 10px">
                <!-- <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Nama"
                  class_width="col-lg-12" type="select2" name="nama" id="nama"
                  option="{$data_penduduk_id|default:''}"}
                </div> -->

                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Nama" class_width="col-lg-12" type="text" name="nama_petugas_keb"
                  id="nama_petugas_keb" value="{$data.nama_petugas_keb|default:''}"}
                </div>
                <div class="col-md-2">
                  {include file="backend/template/input_form.html" label="NIK" class_width="col-lg-12" type="text" name="nik_petugas"
                  id="nik_petugas" value="{$data.nik_petugas|default:''}"}
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Unit Kerja" class_width="col-lg-12" type="text" name="unit_kerja"
                  id="unit_kerja" value="{$data.unit_kerja|default:''}"}
                </div>
                <div class="col-md-2">
                  {include file="backend/template/input_form.html" label="Jenis Kelamin" class_width="col-lg-12" type="select"
                  name="jenis_kelamin" id="jenis_kelamin" option={$jenis_kelamin|default:''} }
                </div>
                <div class="col-md-3">
                  {include file="backend/template/input_form.html" label="Pekerjaan" class_width="col-lg-12" type="text"
                  name="pekerjaan" id="pekerjaan" value="{$data.pekerjaan|default:''}"}
                </div>
                <div class="col-md-3">
                  {include file="backend/template/input_form.html" label="Lokasi" class_width="col-lg-12" type="text"
                  name="lokasi" id="lokasi" value="{$data.lokasi|default:''}"}
                </div>
                <div class="col-md-2">
                  {include file="backend/template/input_form.html" label="Status" class_width="col-lg-12" type="select"
                  name="status_pegawai" id="status_pegawai" option={$status_pegawai|default:''} }
                </div>
                <div class="col-md-4">
                  {include file="backend/template/input_form.html" label="Keterangan" class_width="col-lg-12" type="text"
                  name="keterangan" id="keterangan" value="{$data.keterangan|default:''}"}
                </div>
              </div>

              <div class="row" style="margin-bottom:10px;">
                <div class="col-md-6">
									{include file="backend/template/input_form.html" label="Alamat" class_width="col-lg-12" type="textarea" name="alamat" id="alamat" required="true" value="{$data.alamat|default:''}"}
								</div>
                <div class="col-md-1">
									{include file="backend/template/input_form.html" label="RT" class_width="col-lg-12" type="pnj_rt" name="rt" id="rt" value="{$data.rt|default:''}"}
								</div>
								<div class="col-md-1">
									{include file="backend/template/input_form.html" label="RW" class_width="col-lg-12" type="pnj_rt" name="rw" id="rw" value="{$data.rw|default:''}"}
								</div>
              </div> 

              <!-- <div class="row">
								<div class='col-md-12'>
									<fieldset class='form-group'>
										<legend style='border-color:#E17A35 !important;border-width:3px !important;padding:5px;color:#E17A35;font-weight:bold;font-size:16px;margin-bottom:5px;margin-top:15px;'>STATUS DATA</legend>
									</fieldset>
								</div>
								<div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="Status" class_width="col-lg-12" type="select" name="status_data" id="status_data" option={$status_data|default:''} }
								</div>
							</div> -->

              <div class="row">
                <div class="col-md-12">
                  <hr />
                  {include file="backend/template/input_form.html" label="Upload File *jpg|jpeg|png|pdf" class_width="col-lg-12" type="file"
                  name="file" id="file" value="{$data.file|default:''}"}
                  <br />
                  {include file="backend/template/button_save.html" text="Simpan" id_na="save" style_btn="btn-success" btn_goyz="false"} 
                  {include file="backend/template/button_save.html" text="Kembali" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger" btn_goyz="true"}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  var rulesnya = {
    cl_kelurahan_desa_id: "required",
    nama: "required",
    unit_kerja: "required",
    jenis_kelamin: "required",
    pekerjaan: "required",
    lokasi: "required",
    status_pegawai: "required",
  };

  var messagesnya = {
    cl_kelurahan_desa_id: "<i style='color:red'>Harus Diisi</i>",
    nama: "<i style='color:red'>Harus Diisi</i>",
    unit_kerja: "<i style='color:red'>Harus Diisi</i>",
    jenis_kelamin: "<i style='color:red'>Harus Diisi</i>",
    pekerjaan: "<i style='color:red'>Harus Diisi</i>",
    lokasi: "<i style='color:red'>Harus Diisi</i>",
    status_pegawai: "<i style='color:red'>Harus Diisi</i>",
  };

  $("#form_{$acak}").validate({
    rules: rulesnya,
    messages: messagesnya,
    submitHandler: function (form) {
      $.LoadingOverlay("show");
      submit_form("form_{$acak}", function (r) {
        if (r == 1) {
          $.messager.alert(nama_apps, "Data Tersimpan", "info");
          $("#cancel_{$acak}").trigger("click");
          $("#grid_data_petugas_kebersihan").datagrid("reload");
        } else {
          $.messager.alert(
            nama_apps,
            "Proses Simpan Data Gagal " + r,
            "warning"
          );
        }
        $.LoadingOverlay("hide", true);
      });
      //*/
    },
    errorPlacement: function (error, element) {
      var name = element.attr("name");
      var errorSelector = '.validation_error_message[for="' + name + '"]';
      var $element = $(errorSelector);
      if ($element.length) {
        $(errorSelector).html(error.html());
      } else {
        error.insertAfter(element);
      }
    },
  });
</script>
