<form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/data_kerja_bakti" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="{$data.id|default:''}">
	<input type="hidden" name="editstatus" value="{$sts|default:'add'}">

	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Form Isian</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-4">
									{include file="backend/template/input_form.html" required="true" label="Kelurahan" class_width="col-lg-12" type="select" name="cl_kelurahan_desa_id" id="cl_kelurahan_desa_id" option={$cl_kelurahan_desa|default:''} }
								</div>
                                <div class="col-md-4">
									{include file="backend/template/input_form.html" label="Kecamatan" class_width="col-lg-12" type="text" name="kecamatan" id="kecamatan" value="{$data.kecamatan|default:'Biringkanaya'}"}
								</div>
                                <div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="Tanggal" class_width="col-lg-12" placeholder="dd-mm-yyyy" type="date" name="tanggal" id="tanggal" value="{$data.tanggal|default:''}"}
								</div>
                                <div class="col-md-8">
									{include file="backend/template/input_form.html" label="Lokasi" class_width="col-lg-12" type="text" name="lokasi" id="lokasi" value="{$data.lokasi|default:''}"}
								</div>
                                <div class="col-md-4">
									{include file="backend/template/input_form.html" label="Volume Sampah" class_width="col-lg-12" type="text" name="volume_sampah" id="volume_sampah" value="{$data.volume_sampah|default:''}"}
								</div>
                                <div class="col-md-4">
									{include file="backend/template/input_form.html" label="Jumlah Partisipasi Warga" class_width="col-lg-12" type="text" name="jumlah_warga" id="jumlah_warga" value="{$data.jumlah_warga|default:''}"}
								</div>
                                <div class="col-md-12">
									{include file="backend/template/input_form.html" label="Foto" class_width="col-lg-12" type="file" name="foto" id="foto" value="{$data.foto|default:''}"}
								</div>
                                <div class="col-md-12">
                                    {if $data.foto|default:'' eq ""}
                                    {else}
                                    	<img src="{$data.foto|default:''}" class="user-image" style="width:600px" alt="User Image">
                                    {/if}
								</div>
                            </div>

							<!-- <div class="row">
								<div class='col-md-12'>
									<fieldset class='form-group'>
										<legend style='border-color:#E17A35 !important;border-width:3px !important;padding:5px;color:#E17A35;font-weight:bold;font-size:16px;margin-bottom:5px;margin-top:15px;'>STATUS DATA</legend>
									</fieldset>
								</div>
								<div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="Status" class_width="col-lg-12" type="select" name="status_data" id="status_data" option={$status_data|default:''} }
								</div>
							</div> -->

							<div class="row">
								<div class="col-md-12">
									<hr />
									{include file="backend/template/button_save.html" text="Simpan" id_na="save" style_btn="btn-success"  btn_goyz="false"}
									{include file="backend/template/button_save.html" text="Kembali" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

<script>
	var rulesnya = {
		nik : "required",
		nama_lengkap : "required",
		agama : "required",
		tempat_lahir : "required",
		tgl_lahir : "required",
		status_kawin : "required",
		pendidikan : "required",
	};

	var messagesnya = {
		nik : "<i style='color:red'>Harus Diisi</i>",
		nama_lengkap : "<i style='color:red'>Harus Diisi</i>",
		agama : "<i style='color:red'>Harus Diisi</i>",
		tempat_lahir : "<i style='color:red'>Harus Diisi</i>",
		tgl_lahir : "<i style='color:red'>Harus Diisi</i>",
		status_kawin : "<i style='color:red'>Harus Diisi</i>",
		pendidikan : "<i style='color:red'>Harus Diisi</i>",
	}

	$( "#form_{$acak}" ).validate( {
		rules: rulesnya,
		messages: messagesnya,
		submitHandler: function(form) {
			$.LoadingOverlay("show");
			submit_form('form_{$acak}',function(r){
				if(r == 1 ){
					$.messager.alert(nama_apps,'Data Tersimpan','info');
					$('#cancel_{$acak}').trigger('click');
					$('#grid_data_kerja_bakti').datagrid('reload');
				}else{
					$.messager.alert(nama_apps,'Proses Simpan Data Gagal '+r,'warning');
				}
				$.LoadingOverlay("hide", true);
			});
			//*/
		},
		errorPlacement: function(error, element) {
	        var name = element.attr('name');
	        var errorSelector = '.validation_error_message[for="' + name + '"]';
	        var $element = $(errorSelector);
	        if ($element.length) {
	            $(errorSelector).html(error.html());
	        } else {
	            error.insertAfter(element);
	        }
	    }
	} );
</script>
