<form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/laporan_hasil_kegiatan" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="{$data.id|default:''}">
	<input type="hidden" name="editstatus" value="{$sts|default:'add'}">

	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Form Isian</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12"> 
							
							<div class="row" >
								<div class='col-md-12'>
									<fieldset class='form-group'>
										<legend style='border-color:#E17A35 !important;border-width:3px !important;padding:5px;color:#E17A35;font-weight:bold;font-size:16px;margin-bottom:5px;margin-top:15px;'>DATA PENANDATANGANAN</legend>
									</fieldset>
								</div>
								<div class="col-md-2">
									{include file="backend/template/input_form.html" required="true" label="Hari/Tanggal" 
									placeholder="dd-mm-yyyy" class_width="col-lg-12" type="date" name="tgl_hasil_agenda" id="tgl_hasil_agenda"
									value="{tgl_indo_format($data.tgl_hasil_agenda)|default:''}"}
								</div>
								<div class="col-md-4">
									{include file="backend/template/input_form.html" required="true" label="Perihal/Agenda" class_width="col-lg-12" type="select2" name="perihal_hasil_agenda" id="perihal_hasil_agenda" option={$perihal_hasil_agenda|default:''} }
								</div>
							</div>
							<div class="row" style="margin-bottom:10px;"> 
								<div class="col-md-12">
									{include file="backend/template/input_form.html" required="true" label="Notulen" class_width="col-lg-12" type="textarea_wysig" name="notulen_hasil_agenda" id="notulen_hasil_agenda" value="{$data.notulen_hasil_agenda|default:''}"}
								</div>
							</div>
							<div class="row" style="margin-bottom:10px;"> 
								<div class="col-md-12">
									{include file="backend/template/input_form.html" required="false" label="Keterangan" class_width="col-lg-12" type="textarea" name="ket_hasil_agenda" id="ket_hasil_agenda" value="{$data.ket_hasil_agenda|default:''}"}
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<hr />
									{include file="backend/template/button_save.html" text="Simpan" id_na="save" style_btn="btn-success"  btn_goyz="false"}
									{include file="backend/template/button_save.html" text="Kembali" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}	
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</form>

<script>
	var rulesnya = {
		tgl_hasil_agenda : "required",
		perihal_hasil_agenda : "required",
        notulen_hasil_agenda : "required",
	};

	var messagesnya = {
		tgl_hasil_agenda : "<i style='color:red'>Harus Diisi</i>",
		perihal_hasil_agenda : "<i style='color:red'>Harus Diisi</i>",
        notulen_hasil_agenda : "<i style='color:red'>Harus Diisi</i>",
	};

	$("#form_{$acak}").validate({
		rules: rulesnya,
		messages: messagesnya,
		
		submitHandler: function(form) {
			$.LoadingOverlay("show");
			
			submit_form('form_{$acak}', function(r){
				if (r == 1) {
					$.messager.alert(nama_apps, 'Data Tersimpan', 'info');
					$('#cancel_{$acak}').trigger('click');
					$('#grid_laporan_hasil_kegiatan').datagrid('reload');
				} else {
					$.messager.alert(nama_apps, 'Proses Simpan Data Gagal: ' + r, 'error');
				}
				$.LoadingOverlay("hide", true);
			});
		},

		errorPlacement: function(error, element) {
			error.insertAfter(element);
		}

	});
</script>
