<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ubah Password</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/ubah_password" enctype="multipart/form-data">
                                        <input type="hidden" name="id" value="{$auth.id|default:''}" />
                                        <input type="hidden" name="editstatus" value="{$sts|default:'edit'}" />
                                        <div class="row">
                                            <div class="col-md-4">
                                                {include file="backend/template/input_form.html" label="Username" type="baca_aja" id="username" value={$auth.username|default:""} }
                                            </div>
                                            <div class="col-md-4">
                                                {include file="backend/template/input_form.html" label="Nama Lengkap" type="baca_aja" id="username" value={$auth.nama_lengkap|default:""} }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {include file="backend/template/input_form.html" required="true" label="Password Lama" type="pwd" name="pwd_lama" read="readonly" id="pwd_lama" value="" }
                                            </div>
                                            <div class="col-md-4">
                                                {include file="backend/template/input_form.html" required="true" label="Password Baru" type="pwd" name="pwd_baru" read="readonly" id="pwd_baru" value="" }
                                            </div>
                                        </div>
                                        <hr />
                                        {include file="backend/template/button_save.html" text="Save" id_na="ubahpwd" style_btn="btn-success" btn_goyz="false"} {include file="backend/template/button_save.html" text="Back"
                                        click="$('#pesanModal').modal('hide');" id_na="cancel_riw" style_btn="btn-danger" btn_goyz="true"}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <script type="text/javascript">
	var rulesnya = {
	pwd_lama: "required",
	pwd_baru: "required",
	};
	var messagesnya = {
	pwd_lama: "<i style='color:red'>Harus Diisi</i>",
	pwd_baru: "<i style='color:red'>Harus Diisi</i>",
	}
	$( "#form_{$acak}" ).validate( {
	rules: rulesnya,
	messages: messagesnya,
	submitHandler: function(form) {
	$('#cancel_riw_{$acak}').trigger('click');
	// $.blockUI({ message: '<h3>Proses Simpan Data</h3>' });
	$.LoadingOverlay("show");
	submit_form('form_{$acak}',function(r){
	if(r==1){
	$.messager.alert('Data Tersimpan','info');
	}else if(r==2){
	$.messager.alert('Password Lama Salah','warning');
	}else{
	$.messager.alert('Proses Simpan Data Gagal '+r,'warning');
	}
	// $.unblockUI();
	$.LoadingOverlay("hide", true);
	});
	},
	errorPlacement: function(error, element) {
	var name = element.attr('name');
	var errorSelector = '.validation_error_message[for="' + name + '"]';
	var $element = $(errorSelector);
	if ($element.length) {
	$(errorSelector).html(error.html());
	} else {
	error.insertAfter(element);
	}
	}
	} );
 </script>
 