<form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/user_group" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="{$data.id|default:''}">
	<input type="hidden" name="editstatus" value="{$sts|default:'add'}">

	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Form Data User Group</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							{include file="backend/template/input_form.html" required="true" label="Nama User Group" class_width="col-lg-12" type="text" name="user_group" id="user_group" value="{$data.user_group|default:''}"}
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-12">
							{include file="backend/template/button_save.html" text="Save" id_na="save" style_btn="btn-success"  btn_goyz="false"}
							{include file="backend/template/button_save.html" text="Back" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}	
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	
</form>

<script type="text/javascript">
	var rulesnya = {
		user_group: "required",
	};

	var messagesnya = {
		 user_group: "<i style='color:red'>Harus Diisi</i>",
	}

	$( "#form_{$acak}" ).validate( {
		rules: rulesnya,
		messages: messagesnya,
		submitHandler: function(form) {
			$.LoadingOverlay("show");
			submit_form('form_{$acak}',function(r){
				if(r==1){ 
					$.messager.alert(nama_apps,'Data Tersimpan','info'); 
					$('#cancel_{$acak}').trigger('click');
					grid_nya.datagrid('reload');
				}else{ 
					$.messager.alert(nama_apps,'Proses Simpan Data Gagal','warning'); 
				}
				$.LoadingOverlay("hide", true);
			});
			//*/
		},
		errorPlacement: function(error, element) {
	        var name = element.attr('name');
	        var errorSelector = '.validation_error_message[for="' + name + '"]';
	        var $element = $(errorSelector);
	        if ($element.length) { 
	            $(errorSelector).html(error.html());
	        } else {
	            error.insertAfter(element);
	        }
	    }
	} );
</script>