<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
  <head>
    <title>DAFTAR REGISTRASI SURAT PENGANTAR PERBAIKAN KENDARAAN</title>
  </head>

  <body>
    <div style="padding-bottom: 5mm">
      {if $auth.cl_user_group_id eq '2'}
      <table
        cellspacing="0"
        border="0"
        width="100%"
        style="border-collapse: collapse"
      >
        <tr>
          <td align="center" rowspan="4" valign="middle" style="width: 150px">
            <img
              src="./__assets/images/logo-makassar.png"
              style="height: 100px"
            />
          </td>
          <td
            align="center"
            valign="bottom"
            style="font-size: 22.6px; padding: 0px"
          >
            PEMERINTAH {$setting.nama_kab_kota|upper|default:'.......'}
          </td>
          <td align="center" rowspan="4" valign="middle" style="width: 150px">
            <img src="./__assets/images/logo-camat.png" style="height: 100px" />
          </td>
        </tr>
        <tr>
          <td align="center" style="font-size: 22.6px; padding: 0px">
            KECAMATAN {$setting.nama_kecamatan|upper|default:'.......'}
          </td>
        </tr>
        <tr>
          <td
            align="center"
            valign="top"
            style="font-size: 18.6px; padding: 0px"
          >
            <b>{$setting.nama_desa|upper|default:'.......'}</b>
          </td>
        </tr>
        <tr>
          <td
            align="center"
            valign="top"
            style="font-size: 10.6px; padding: 0px"
          >
            {$setting.alamat|default:'ALAMAT .......'} {if
            str_replace('-','',$setting.telp) neq ''} Telp.
            {str_replace('-','',$setting.telp|default:'')} {/if}
            {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'.....'}
            {$setting.kode_pos|default:''}
          </td>
        </tr>
        <tr>
          <td align="center" colspan="7" align="center">
            <hr style="color: black; height: 4px; margin-bottom: 0px" />
            <hr style="color: black; height: 1px; margin-top: 3px" />
          </td>
        </tr>
        <tr>
          <td colspan="7" align="center">
            <b><u>DAFTAR REGISTRASI SURAT PENGANTAR PERBAIKAN KENDARAAN</u></b>
          </td>
        </tr>
      </table>
      {else}
      <table
        cellspacing="0"
        border="0"
        width="100%"
        style="border-collapse: collapse"
      >
        <tr>
          <td align="center" valign="middle" style="width: 150px">
            <img
              src="./__assets/images/logo-makassar.png"
              style="height: 100px"
            />
          </td>
          <td
            align="center"
            valign="middle"
            style="font-size: 22.6px; padding: 0px"
          >
            PEMERINTAH {$setting.nama_kab_kota|upper|default:'.......'}<br />KECAMATAN
            {$setting.nama_kecamatan|upper|default:'.......'}
          </td>
          <td align="center" valign="middle" style="width: 150px">
            <img src="./__assets/images/logo-camat.png" style="height: 100px" />
          </td>
        </tr>
        <tr>
          <td align="center" colspan="7" align="center">
            <hr style="color: black; height: 4px; margin-bottom: 0px" />
            <hr style="color: black; height: 1px; margin-top: 3px" />
          </td>
        </tr>
        <tr>
          <td colspan="7" align="center">
            <b><u>DAFTAR REGISTRASI SURAT PENGANTAR PERBAIKAN KENDARAAN</u></b>
          </td>
        </tr>
      </table>
      {/if}
    </div>
    <div style="padding-bottom: 2mm; font-size: 16px">
      <table
        border="1"
        cellpadding="3"
        width="100%"
        style="
          margin-bottom: 10px;
          font-family: arial;
          font-size: 10px;
          border-collapse: collapse;
        "
      >
        <thead>
          <tr>
            <th bgcolor="#b9b9b9" width="5%" style="text-align: center">
              <b>No</b>
            </th>
            <th bgcolor="#b9b9b9" width="15%" style="text-align: center">
              <b>Hari, Tanggal</b>
            </th>
            <th bgcolor="#b9b9b9" width="10%" style="text-align: center">
              <b>Nomor Surat</b>
            </th>
            <th bgcolor="#b9b9b9" width="20%" style="text-align: center">
              <b>Plat Kendaraan</b>
            </th>
            <th bgcolor="#b9b9b9" width="20%" style="text-align: center">
              <b>Nama Pengemudi</b>
            </th>
            <th bgcolor="#b9b9b9" width="15%" style="text-align: center">
              <b>Jenis Perbaikan</b>
            </th>
            <th bgcolor="#b9b9b9" width="5%" style="text-align: center">
              <b>Kelurahan</b>
            </th>
          </tr>
        </thead>
        <tbody>
          {assign var=idx value=1} {foreach from=$data item=key}

          <tr>
            <td valign="top" width="5%" style="text-align: center">{$idx}</td>
            <td valign="top" width="15%" style="text-align: left">
              {tgl_indo_hari($key.tgl_surat)}
            </td>
            <td valign="top" width="15%" style="text-align: center">
              {$key.no_surat}
            </td>
            <td valign="top" width="10%" style="text-align: center">
              {$key.nopol}
            </td>
            <td valign="top" width="20%" style="text-align: left">
              {$key.nama_sopir}
            </td>
            <td valign="top" width="15%" style="text-align: left">
              {$key.jenis_perbaikan}
            </td>
            <td valign="top" width="20%" style="text-align: left">
              {$key.nama_kelurahan_desa}
            </td>
          </tr>
          {assign var=idx value=$idx+1} {/foreach}
        </tbody>
      </table>
    </div>
  </body>
</html>
