<!DOCTYPE html>

<html>
<head>
	
	<title></title>
	

</head>

<body>
<table style="border-collapse: collapse;width: 100%;" cellpadding="4" cellspacing="4" border="1">
	<colgroup width="44"></colgroup>
	<colgroup width="166"></colgroup>
	<colgroup width="62"></colgroup>
	<colgroup width="85"></colgroup>
	<colgroup width="102"></colgroup>
	<colgroup width="124"></colgroup>
	<colgroup width="116"></colgroup>
	<colgroup width="140"></colgroup>
	<colgroup width="122"></colgroup>
	<colgroup width="81"></colgroup>
	<tr>
		<td style="border: 1px solid white;" colspan=10 height="19" align="center" valign=middle data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;LAPORAN BULANAN KELURAHAN&quot;}"><b><font face="Arial" color="#000000">LAPORAN BULANAN KELURAHAN</font></b></td>
		</tr>
	{foreach from=$data item=rows}
	<tr>
		<td style="border: 1px solid white;" colspan=10 height="19" align="center" valign=middle data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;KELURAHAN BAKUNG&quot;}"><b><font face="Arial" color="#000000">KECAMATAN {$rows.kecamatan}</font></b></td>
		</tr>
	<tr>
		<td style="border: 1px solid white;" colspan=10 height="19" align="center" valign=middle data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;KECAMATAN BIRINGKANAYA&quot;}"><b><font face="Arial" color="#000000">{$rows.kelurahan|upper}</font></b></td>
		</tr>
	<tr>
		<!-- <td style="border: 1px solid white;" colspan=10 height="19" align="center" valign=middle data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;LAPORAN BULAN : 09 SEPTEMBER 2025&quot;}"><font face="Arial" color="#000000">LAPORAN BULAN : {bln_aja($rows.periode_cetak)|upper} {thn_aja($rows.periode_cetak)}</font></td> -->
		<td style="border: 1px solid white;" colspan=10 height="19" align="center" valign=middle data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;LAPORAN BULAN : 09 SEPTEMBER 2025&quot;}"><font face="Arial" color="#000000">LAPORAN BULAN : {$rows.periode_bulan_tahun}</font></td>
		</tr>
	{/foreach}
	<tr>
		<td style="border-bottom: 1px solid #000000" colspan=10 height="19" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><br></font></td>
	</tr>
</table>
<table style="border-collapse: collapse;width: 100%;" cellpadding="6" cellspacing="4" border="1">
	<tr>
		<th rowspan="2" style="border:1px solid #000; background:#D9D9D9;">No</th>
		<th rowspan="2" style="border:1px solid #000; background:#D9D9D9;">Uraian</th>

		<th colspan="2" style="border:1px solid #000; background:#D9D9D9;">Warga Negara RI</th>
		<th colspan="2" style="border:1px solid #000; background:#D9D9D9;">Warga Asing</th>
		<th colspan="3" style="border:1px solid #000; background:#D9D9D9;">Jumlah</th>

		<th rowspan="2" style="border:1px solid #000; background:#D9D9D9;">Jumlah KK</th>
	</tr>

	<tr>
		<!-- WNI -->
		<th style="border:1px solid #000; background:#D9D9D9;">LK</th>
		<th style="border:1px solid #000; background:#D9D9D9;">PR</th>

		<!-- WNA -->
		<th style="border:1px solid #000; background:#D9D9D9;">LK</th>
		<th style="border:1px solid #000; background:#D9D9D9;">PR</th>

		<!-- Jumlah -->
		<th style="border:1px solid #000; background:#D9D9D9;">LK</th>
		<th style="border:1px solid #000; background:#D9D9D9;">PR</th>
		<th style="border:1px solid #000; background:#D9D9D9;">LK + PR</th>
	</tr>

	{assign var=idx value=1}
	{assign var=total_akhir_lk_pr value=0}

    <!-- {foreach from=$data item=rows} -->
	<!-- {$total_akhir_lk_pr=$total_akhir_lk_pr+$rows.jml_lk+$rows.jml_pr+$rows.lahir_lk+$rows.lahir_pr-$rows.jml_mati_lk-$rows.jml_mati_pr+$rows.jml_datang_lk+$rows.jml_datang_pr-$rows.jml_pindah_lk-$rows.jml_pindah_pr} -->

	{foreach from=$data item=rows}
		{assign var=akhir_per_row value=
			($rows.jml_lk|default:0 + $rows.jml_pr|default:0)
		+ ($rows.jml_lahir_lk|default:0 + $rows.jml_lahir_pr|default:0)
		- ($rows.jml_mati_lk|default:0 + $rows.jml_mati_pr|default:0)
		+ ($rows.jml_datang_lk|default:0 + $rows.jml_datang_pr|default:0)
		- ($rows.jml_pindah_lk|default:0 + $rows.jml_pindah_pr|default:0)
		+ ($rows.jml_non_permanen_lk|default:0 + $rows.jml_non_permanen_pr|default:0)
		}

	<!-- di cell "Penduduk Akhir Bulan Ini" -->
	{/foreach}

	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="1" sdnum="1033;"><font face="Arial" color="#000000">{$idx}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Penduduk Awal Bulan Ini&quot;}"><font face="Arial" color="#000000">Penduduk Awal Bulan Ini</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lk_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_pr_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lk_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_pr_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lk|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_pr|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lk+$rows.jml_pr}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.kk_bln_ini|default:'......'}</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="2" sdnum="1033;"><font face="Arial" color="#000000">2</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Kelahiran Bulan Ini&quot;}"><font face="Arial" color="#000000">Kelahiran Bulan Ini</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.lahir_lk_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.lahir_pr_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.lahir_lk_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.lahir_pr_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lahir_lk|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lahir_pr|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_lahir_lk+$rows.jml_lahir_pr}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.kk_lahir|default:'......'}</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="3" sdnum="1033;"><font face="Arial" color="#000000">3</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Kematian Bulan Ini&quot;}"><font face="Arial" color="#000000">Kematian Bulan Ini</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.mati_lk_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.mati_pr_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.mati_lk_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.mati_pr_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_mati_lk|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_mati_pr|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_mati_lk+$rows.jml_mati_pr}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.kk_kematian|default:'......'}</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="4" sdnum="1033;"><font face="Arial" color="#000000">4</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Pendatang Bulan Ini&quot;}"><font face="Arial" color="#000000">Pendatang Bulan Ini</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.datang_lk_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.datang_pr_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.datang_lk_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.datang_pr_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_datang_lk|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_datang_pr|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_datang_lk+$rows.jml_datang_pr}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.kk_pendatang|default:'......'}</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="5" sdnum="1033;"><font face="Arial" color="#000000">5</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Pindah Bulan Ini&quot;}"><font face="Arial" color="#000000">Pindah Bulan Ini</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.pindah_lk_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.pindah_pr_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.pindah_lk_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.pindah_pr_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_pindah_lk|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_pindah_pr|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_pindah_lk+$rows.jml_pindah_pr}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.kk_pindah|default:'......'}</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="5" sdnum="1033;"><font face="Arial" color="#000000">5</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Pindah Bulan Ini&quot;}"><font face="Arial" color="#000000">Penduduk Non Permanen</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.non_permanen_lk_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.non_permanen_pr_wni|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.non_permanen_lk_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.non_permanen_pr_wna|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_non_permanen_lk|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_non_permanen_pr|default:'......'}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.jml_non_permanen_lk+$rows.jml_non_permanen_pr}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000">{$rows.kk_non_permanen|default:'......'}</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="19" align="center" valign=middle sdval="6" sdnum="1033;"><font face="Arial" color="#000000">6</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;Penduduk Akhir Bulan Ini&quot;}"><font face="Arial" color="#000000">Penduduk Akhir Bulan Ini</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_akhir_lk_wni|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_akhir_pr_wni|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_akhir_lk_wna|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_akhir_pr_wna|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_lk2|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_pr2|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$akhir_per_row|default:'......'}</b></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom data-sheets-value="{ &quot;1&quot;: 2, &quot;2&quot;: &quot;&quot;}"><font face="Arial" color="#000000"><b>{$rows.jml_kk2|default:'......'}</b></font></td>
	</tr>
	{assign var=idx value=$idx+1}
    {/foreach}
</table>
{foreach from=$data item=rows}
<table style="border-collapse: collapse;width: 100%;" cellpadding="6" cellspacing="4" border="0">
	<tr>
		<td width="45%">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td align="right" width="55%">
			{ttd_1muf($data,$setting, $rows.tgl_cetak)}
		</td>
	</tr>
</table>
{/foreach}

<!-- ************************************************************************** -->
</body>

</html>
