<!DOCTYPE html>
<html>
<head>
    <title>SIMLURAH ADMINISTRASI</title>
    <style>
		table { width:100%; } 
		body { font-family: 'arial'; }
	</style>
</head>
<body>
	<div id='content'>
		<div style="padding-bottom: 5mm;">
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
				<!-- <tr>
					<td align="center" rowspan=4 valign="middle" style="width: 150px;">
						<img src="{$host}__assets/images/logo-makassar.png" style="height:100px" />
					</td>
					<td align="center" valign="bottom" style="font-size:22.6px;padding:0px">PEMERINTAH {$setting.nama_kab_kota|upper|default:'.......'}</td>
					<td align="center" rowspan=4 valign="middle"  style="width: 150px;">
						<img src="{$host}__assets/images/logo-camat.png" onerror="this.onerror=null;this.src='{$host}__assets/images/logo-blank.png';" style="height:100px" alt=" "/>
					</td>
				</tr>
				<tr>
					<td align="center" style="font-size:22.6px;padding:0px">KECAMATAN {$setting.nama_kecamatan|upper|default:'.......'}</td>
				</tr>
				<tr>
					<td align="center" valign="top" style="font-size:18.6px;padding:0px"></td>
				</tr>
				<tr>
					<td align="center" valign="top" style="font-size:10.6px;padding:0px">
						<i>
							{if strlen($setting.alamat)>1}
							{$setting.alamat|default:'...'}
							{/if}
							{if strlen($setting.telp)>1}
							Telp. {$setting.telp|default:'...'}
							{/if}
							{if strlen($setting.faks)>1}
							Fax. {$setting.faks|default:'...'}
							{/if}
							{if strlen($setting.email)>1}
							Email : {$setting.email|default:'...'}
							{/if}
							{if strlen($setting.nama_kab_kota)>1}
							Kota {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'...'}
							{/if}
							{if strlen($setting.kode_pos)>1}
							Kode Pos {$setting.kode_pos|default:'...'}
							{/if}
							{if strlen($setting.website)>1}
							<br>Website : {str_replace('-','',$setting.website|default:'')}
							{/if}
						</i>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="3">
						<hr style="color: black;height: 4px; margin-bottom:0px">
						<hr style="color: black;height: 1px; margin-top:3px">
					</td>
				</tr> -->
				{include file="backend/template/kop_surat_kecamatan.html"}
			</table>
		</div>
		
		<table width="100%" style="margin-bottom: 20px; font-size: 14px">
			<tr>
				<td align="center" style="padding-left: 380px;">{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'..........'}, {$data.surat.tanggal_surat|default:'............................'}</td>
			</tr>
		</table>
		<table width="100%" style="margin-left: 35px;margin-right: 35px;margin-bottom: 20px; font-weight: none; font-size: 15px;padding-top: -10px;line-height: 1.5;" cellspacing="5">
			<tr>
				<td width="95%">
					<table>
						<tr>
							<td valign="top" >Nomor</td>
							<td valign="top" >:</td>
							<td valign="top" style="padding-right: 250px;">
						{if isset($data.surat.info_tambahan.ttd_srikandi) and $data.surat.info_tambahan.ttd_srikandi neq ''}
						{'${nomor_naskah}'}
						{else}
						{$data.surat.no_surat|default:'..................................................'}
						{/if}</td>
						</tr>
						<tr>
							<td valign="top">Lampiran</td>
							<td valign="top">:</td>
							<td valign="top" style="padding-right: 250px;">{$data.surat.info_tambahan.lampiran|default:'.....................'}</td>
						</tr>
						<tr>
							<td valign="top">Perihal</td>
							<td valign="top">:</td>
							<td valign="top" style="padding-right: 250px;"><b><u>{$data.surat.info_tambahan.perihal|default:'.....................'}</u></b></td>
						</tr>
						<tr>
							<td valign="top" colspan="2">&nbsp;</td>
						</tr>
						{if $data.surat.info_tambahan.kpd_yth !=''}
						<tr>
							<td valign="top">Yth.</td>
							<td valign="top"></td>
							<td valign="top" style="padding-left: -30px;">{nl2br({$data.surat.info_tambahan.kpd_yth|default:'.....................'})}</td>
						</tr>
						{else}
							<tr>
								<td valign="top"></td>
								<td valign="top" colspan="2">Bapak/Ibu/Saudara (i)</td>
							</tr>
						{/if}
						<tr>
							<td valign="top">di</td>
							<td valign="top"></td>
							<td valign="top"></td>
						</tr>	
						{if $data.surat.info_tambahan.di_undangan != ''}
						<tr>
							<td valign="top">&nbsp;</td>
							<td valign="top"></td>
							<td valign="top" style="padding-left: -75x;">{$data.surat.info_tambahan.di_undangan|default:'..........'}</td>
						</tr>
						{else}
							<tr>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'..........'}</td>
							</tr>
						{/if}	
					</table>
				</td>
				<td width="30%">
					<table>
						<tr>
							<td valign="top"></td>
							<td valign="top" colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td valign="top">&nbsp;</td>
							<td valign="top">&nbsp;</td>
							<td valign="top">&nbsp;</td>
						</tr>
						<tr>
							<td valign="top">&nbsp;</td>
							<td valign="top" colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td valign="top">&nbsp;</td>
							<td valign="top">&nbsp;</td>
							<td valign="top">&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
		
		</table>				

	<table width="100%" style="margin-left: 35px;margin-right: 35px;margin-bottom: 20px; font-weight: none; font-size: 14px;padding-top: -10px;line-height: 1.5;" cellspacing="5">
		<tr>
			<td align="justify" style="padding-left:-6px;padding-right:50px;padding-bottom: 10px;">
				Dengan Hormat
			</td>
		</tr>	
		<tr>
			<td align="justify" style="margin-left: 35px;margin-right: 35px;margin-bottom: 20px; font-weight: none; font-size: 14px;padding-top: -10px;line-height: 1.5;" cellspacing="5">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dalam rangka mendukung kelancaran kegiatan Ketertiban Umum dan Ketentraman Masyarakat di Kecamatan {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kecamatan)))|default:''} 
				maka bersama ini kami memohon pergantian Personil Satpol PP BKO Kecamatan {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kecamatan)))|default:''} sebagai berikut :
			</td>
		</tr>
		<br>
		<table cellspacing="0" cellpadding="3" border="1" width="100%" style="margin-left: 25px;margin-right: 25px;border-collapse: collapse; line-height: 1.3;margin-top: 10px;font-size: 14px;">
			<tr>
				<td style="width: 3%;" valign="middle" align="center"><b>NO</b></td>
				<td style="width: 20%;" valign="middle" align="center"><b>Yang digantikan</b></td>
				<td style="width: 11%;" valign="middle" align="center"><b>Yang Menggantikan</b></td>
			</tr>
			{assign var=no value=1}
			{foreach from=$data.surat.info_tambahan.data_pergantian item}
			<tr>
				<td valign="top" align="center">{$no++}</td>
				<td valign="top"               >{$item.petugas_diganti|default:''}</td>
				<td valign="top" 			   >{$item.petugas_pengganti|default:''}</td>
			</tr>
			{/foreach}
		</table>
		<tr>
			<td align="justify" style="margin-left: 35px;margin-right: 35px;margin-bottom: 20px; font-weight: none; font-size: 14px;padding-top: -15px;line-height: 1.5;" cellspacing="5">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Demikian surat permohonan ini atas perhatian dan kerjasamanya Kami ucapkan terimakasih.
			</td>
		</tr>
	</table>
</table>

			<table width="100%" style="margin-left: 35px;margin-right: 35px;margin-bottom: 20px; font-weight: none; font-size: 14px;padding-top: -10px;line-height: 1.5;" cellspacing="5">
				<tr>
					<td width="50%">
						&nbsp;
					</td>
					<td align="left" width="50%">  
						
						{ttd_fullkanan($data,$setting)}
					</td>
				</tr>
			</table>  

		{if $data.surat.info_tambahan.tembusan !=''}
		<div style="padding-left: 10px;padding-top: 70px;">
			<h5>Tembusan :</h5>
			<dl>
				<dt style="font-size: 12px;padding-top: -15px">{nl2br({$data.surat.info_tambahan.tembusan|default:'.....................'})}</dt>
			</dl>
		</div>
		{else} 
		{/if}

		<p style="line-height: 1.6;text-align: left;margin-left: 10px;margin-right: 10px;padding-top: -20px;font-size: 12px;">
			{if $data.surat.info_tambahan.catatan_undangan != ''}Catatan : {$data.surat.info_tambahan.catatan_undangan|default:'.....................'}{else}{/if}</p>
			
	
</div>
</body>
</html>