<!DOCTYPE HTML>

<html>
<head>

	<title>SURAT KETERANGAN KELAHIRAN</title>
	
</head>

<body>
	<div style="padding-bottom: 5mm;">
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;font-family: arial;">
			<!-- <tr>
				<td align="center" rowspan=4 valign="middle" style="width: 150px;">
					<img src="{$host}__assets/images/logo-makassar.png" style="height:100px" />
				</td>
				<td align="center" valign="bottom" style="font-size:22.6px;padding:0px">PEMERINTAH {$setting.nama_kab_kota|upper|default:'.......'}</td>
				{if $setting.status_logo_lainnya eq '1'}
				<td align="center" rowspan=4 valign="middle"  style="width: 150px;">
					<img src="{$host}__assets/images/logo-camat.png" onerror="this.onerror=null;this.src='{$host}__assets/images/logo-blank.png';"  style="height:100px"/>
				</td>
				{else} 
				<td align="center" rowspan=4 valign="middle"  style="width: 150px;">
					<img src="{$host}__assets/images/logo-blank.png" onerror="this.onerror=null;this.src='{$host}__assets/images/logo-blank.png';"  style="height:100px"/>
				</td>
				{/if}
			</tr>
			<tr>
				<td align="center" style="font-size:22.6px;padding:0px">KECAMATAN {$setting.nama_kecamatan|upper|default:'.......'}</td>
			</tr>
			<tr>
				<td align="center" valign="top" style="font-size:18.6px;padding:0px"><b>{$setting.nama_desa|upper|default:'.......'}</b></td>
			</tr>
			<tr>
				<td align="center" valign="top" style="font-size:10.6px;padding:0px">
					<i>
						{if strlen($setting.alamat)>1}
						{$setting.alamat|default:'...'}
						{/if}
						{if strlen($setting.telp)>1}
						Telp. {$setting.telp|default:'...'}
						{/if}
						{if strlen($setting.faks)>1}
						Fax. {$setting.faks|default:'...'}
						{/if}
						{if strlen($setting.email)>1}
						Email : {$setting.email|default:'...'}
						{/if}
						{if strlen($setting.nama_kab_kota)>1}
						{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'...'}
						{/if}
						{if strlen($setting.kode_pos)>1}
						Kode Pos {$setting.kode_pos|default:'...'}
						{/if}
						{if strlen($setting.website)>1}
						<br>Website : {str_replace('-','',$setting.website|default:'')}
						{/if}
					</i>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="3" align="center">
					<hr style="color: black;height: 4px; margin-bottom:0px">
					<hr style="color: black;height: 1px; margin-top:3px">
				</td>
			</tr> -->
			{include file="backend/template/kop_surat_kelurahan.html"}
			<tr>
				<td colspan=3 align="center"><b><u>SURAT KETERANGAN KELAHIRAN</u></b></td>
			</tr>
			<tr>
				<td colspan=3 align="center" style="font-size:13.3px">NOMOR: 
						{if isset($data.surat.info_tambahan.ttd_srikandi) and $data.surat.info_tambahan.ttd_srikandi neq ''}
						{'${nomor_naskah}'}
						{else}
						{$data.surat.no_surat|default:'..................................................'}
						{/if}</td>
			</tr>
		</table>
	</div>
	<div style="padding-right: 5.82mm;padding-left: 15.44mm; padding-bottom: 2mm; font-size: 16px;padding-top: -10px;">
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5;font-family: arial;">
			<tr>
				<td colspan=6 align="left" valign=top>Yang bertanda tangan di bawah ini :</td>
			</tr>
			<tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 80px;">Nama</td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td colspan=3 align="left" valign=top>{$data.pemohon.nama|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Jabatan</td>
				<td align="center" valign=top>:</td>
				<td colspan=3 align="left" valign=top>{$data.pemohon.jabatan|default:'.....................'}</td>
			</tr>
		</table><br>
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5;font-family: arial;">
			<tr>
				<td colspan=6 align="left" valign=top>Dengan ini menerangkan bahwa :</td>
			</tr>
			<!-- <tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 190px;"></td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td align="left" valign=top><b>{$data.surat.info_tambahan.tgl_lahir|default:''}</b></td>
			</tr> -->
			<tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 190px;">Hari/Tanggal</td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.hari_lahir|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Di</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.tempat_lahir|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Telah Lahir Seorang Anak</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.jenis_kelamin_bayi|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Bernama</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.nama_bayi|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Dari Seorang Ibu Bernama</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.nama_ibu|default:'.....................'}</td>
			</tr>
			{if $data.surat.info_tambahan.nama_ayah_bayi !=''}
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Nama Ayah</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.nama_ayah_bayi|default:'.....................'}</td>
			</tr>
			{else}
			{/if}
			{if $data.surat.info_tambahan.anak_ke !=''}
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Anak Ke</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.anak_ke|default:'.....................'}</td>
			</tr>
			{else}
			{/if}
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Alamat</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.alamat_kelahiran|default:'.....................'}</td>
			</tr>
			
			<tr>
				<td colspan=4 align="center" valign=bottom><br></td>
			</tr>
			{if $data.surat.info_tambahan.no_pengantar_kel != '' && $data.surat.info_tambahan.tgl_pengantar_kel !=''}
			<tr>
				<td colspan=4 align="justify" valign=top>Adalah benar-benar warga {$data.pemohon.nama_kelurahan|default:'........'} Kecamatan {ucwords(strtolower(str_replace('KOTA','',$data.pemohon.nama_kecamatan)))|default:''} Kota {ucwords(strtolower(str_replace('KOTA','',$data.pemohon.nama_kota)))|default:''} sesuai pengantar Nomor {$data.surat.info_tambahan.no_pengantar_kel|default:'.....................'} Tanggal {tgl_indo({$data.surat.info_tambahan.tgl_pengantar_kel|default:'.....................'})}.</td>
			</tr>
			<tr>
				<td colspan=4 align="justify" valign=top>Demikian Surat Keterangan ini diberikan dan dipergunakan <b>{$data.surat.info_tambahan.keperluan_surat|default:'sebagaimana mestinya'}</td>
			</tr>
			{else}
			<tr>
				<td colspan=4 align="justify" style="padding-top: -10px;" valign=top>Demikian Surat Keterangan ini diberikan dan dipergunakan <b>{$data.surat.info_tambahan.keperluan_surat|default:'sebagaimana mestinya'}</td>
			</tr>
			{/if}
		</table>
	</div>
	<br>
	
	{ttd_1($data,$setting)}
</body>
</html>
