<!DOCTYPE html>
<html>
<head>
    <title>SIMLURAH ADMINISTRASI</title>
    <style>
		table { width:100%; } 
		body { font-family: 'arial'; }
	</style>
</head>
<body>
	<div id='content'>
		<div style="padding-bottom: 5mm;">
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
				
				{include file="backend/template/kop_surat_kelurahan.html"}
				<tr>
					<td colspan=3 align="center"><b><u>SURAT KETERANGAN DOK</u></b></td>
				</tr>
				<tr>
					<td colspan=3 align="center" style="font-size:13.3px">NOMOR: {$data.surat.no_surat|default:'..................................................'}</td>
				</tr>
			</table>
		</div>
		
		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 15px;" cellspacing="2">
			<tr>
				<td align="justify" style="padding-left:70px;padding-bottom: 10px;">
					Yang bertanda tangan di bawah ini :
				</td>
			</tr>
			<tr>
				<td style="padding-left:100px;">
					
					<table width="100%" style="font-weight: none; font-size: 15px;padding-left: -10px;" cellspacing="5">
						<tr>
							<td>Nama</td>
							<td>:</td>
							<td>{$data.pemohon.nama|default:'.....................'}</td>
						</tr>
					<span style="font-size:50px">&nbsp;</span>
						<tr>
							<td>Jabatan</td>
							<td>:</td>
							<td>{$data.pemohon.jabatan|default:'.....................'}</td>
						</tr>
					</table>

			<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 15px;">
				<tr>
					<td align="justify" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						Dengan ini menerangkan bahwa :
					</td>
				</tr>		
				<tr>
					<td>
						<table width="100%" style="font-weight: none; font-size: 15px;padding-left: -10px;">
							<tr>
								<td valign="top">Nama</td>
								<td valign="top" style="padding-left: 20px;padding-right: 20px;" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;"><b>{$data.pemohon.nama_lengkap|default:'.....................'}</b></td>
							</tr> 
							<tr>
								<td valign="top">Jabatan</td>
								<td valign="top" style="padding-left: 20px;padding-right: 20px;" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.jabatan_kapal|default:'........'}</td>
							</tr> 
							<tr>
								<td valign="top">Nama Kapal</td>
								<td valign="top" style="padding-left: 20px;padding-right: 20px;" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.nama_kapal|default:'........'}</td>
							</tr> 
							<tr>
								<td valign="top">Alamat</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.pemohon.alamat|default:'.....................'}, RT {$data.pemohon.rt|default:'...'}/RW {$data.pemohon.rw|default:'...'}</td>
							</tr>
							
						</table> 
					<td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="justify" style="padding-left:70px;padding-bottom: 10px;">
			Bahwa benar {$data.surat.info_tambahan.nama_kapal|default:'........'} yang di Nahkodai {$data.pemohon.nama_lengkap|default:'.....................'} telah melakukan DOK di pulau {$setting.nama_desa|default:'........'} selama beberapa hari terhitung dari tanggal {tgl_indo({$data.surat.info_tambahan.rentang_awal|default:'.....................'})} sampai tanggal {tgl_indo({$data.surat.info_tambahan.rentang_akhir|default:'.....................'})}</b><br>
			Demikian surat keterangan ini diberikan dan dipergunakan seperlunya.
		</td>
	</tr>
</table>
	
	{ttd_1($data,$setting)}
	
</div>
</body>
</html>