<!DOCTYPE html>
<html>
<head>
    <title>SIMLURAH ADMINISTRASI</title>
    <style>
		table { width:100%; } 
		body { font-family: 'arial'; }
	</style>
</head>
<body>
	<div id='content'>
		<div style="padding-bottom: 5mm;">
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
				<tr>
					<td colspan=3 align="center" class="mceNonEditable"><b><u>SURAT PERNYATAAN</u></b></td>
				</tr>
			</table>
		</div>
		
	<table width="100%" style="margin-bottom: 0px font-weight: none; font-size: 15px;line-height: 1.6" cellspacing="1">
		<tr>
			<td style="padding-left:100px;">
			<table width="100%" style="margin-bottom: 0px font-weight: none; font-size: 15px;">
				<tr>
					<td align="justify" class="mceNonEditable" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						Yang bertanda tangan di bawah ini (Pemilik Rumah/Alamat) :
					</td>
				</tr>		
				<tr>
					<td>
						<table width="100%" style="font-weight: none; font-size: 15px;padding-left: -10px;">
							<tr>
								<td valign="top">Nama</td>
								<td valign="top" style="padding-left: 20px;padding-right: 20px;" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;"><b>{$data.surat.info_tambahan.nama_pemilik_rumah|default:'.....................'}</b></td>
							</tr>
							<tr>
								<td valign="top">NIK</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.nik_pemilik_rumah|default:'.....................'}</td>
							</tr>
							<tr>
								<td valign="top">Alamat</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.alamat_pemilik_rumah|default:'.....................'}, RT {$data.pemohon.rt|default:'...'}/RW {$data.pemohon.rw|default:'...'}</td>
							</tr>
						</table> 
					<td>
				</tr>
			</table>
			<table width="100%" style="margin-bottom: 0px; font-weight: none; font-size: 14px;font-family: arial;">
				<tr>
					<td align="justify" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						Dengan ini menyatakan bahwa Saya <b>TIDAK KEBERATAN</b> untuk :
					</td>
				</tr>	
			</table>
			{if $data.surat.info_tambahan.pil_jenis_menumpang eq 'Menggunakan Alamat Saya'}
			<table width="100%" style="margin-bottom: 0px; font-weight: none; font-size: 14px;font-family: arial;">
				<tr>
					<td align="justify" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						Menggunakan alamat saya di jalan {$data.surat.info_tambahan.nama_jalan_tujuan|default:'.....................'} RT {$data.surat.info_tambahan.rt_alamat_tujuan|default:'.....................'} RW {$data.surat.info_tambahan.rw_alamat_tujuan|default:'.....................'} 
						Kel. {$data.surat.info_tambahan.kelurahan_tujuan|default:'.....................'} Kec. {$data.surat.info_tambahan.kecamatan_tujuan|default:'.....................'} <br>
						atau sesuai dengan alamat tujuan yang tercantum di surat pindah.
					</td>
				</tr>	
			</table>
			{else} 
			<table width="100%" style="margin-bottom: 0px; font-weight: none; font-size: 14px;font-family: arial;">
				<tr>
					<td align="justify" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						Masuk dalam KK/numpang KK sebagai anggota keluarga dalam kartu keluarga saya dengan Nomor Kartu Keluarga {$data.surat.info_tambahan.no_kk_tujuan|default:'.....................'}.
					</td>
				</tr>	
			</table>
			{/if}
			</td>
		</tr>
		<tr>
			<td style="padding-left:100px;">
			<table width="100%" style="margin-bottom: 0px; font-weight: none; font-size: 14px;font-family: arial;">
				<tr>
					<td align="justify" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						<b>KEPADA :</b>
					</td>
				</tr>	
				<tr>
					<td>
						<table width="100%" style="font-weight: none; font-size: 15px;padding-left: -10px;">
							<tr>
								<td valign="top">Nama</td>
								<td valign="top" style="padding-left: 20px;padding-right: 20px;" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;"><b>{$data.pemohon.nama_lengkap|default:'.....................'}</b></td>
							</tr>
							<tr>
								<td valign="top">NIK</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.pemohon.nik|default:'.....................'}</td>
							</tr>
							<tr>
								<td valign="top">Tempat/Tanggal Lahir</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.pemohon.tempat_lahir|default:''}, {tgl_indo({$data.pemohon.tgl_lahir|default:''})}</td>
							</tr>
							<tr>
								<td valign="top">Alamat Asal</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.pemohon.alamat|default:'.....................'}</td>
							</tr>
							<tr>
								<td valign="top">RT/RW</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">RT {$data.pemohon.rt|default:'...'}/RW {$data.pemohon.rw|default:'...'}</td>
							</tr>

							<tr>
								<td valign="top">Kelurahan</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.kelurahan_numpang_alamat|default:'.....................'}</td>
							</tr>
							<tr>
								<td valign="top">Kecamatan</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.kec_numpang_alamat|default:'.....................'}</td>
							</tr>
							<tr>
								<td valign="top">Pekerjaan</td>
								<td valign="top" align="center">:</td>
								<td valign="top" style="padding-bottom: 10px;">{$data.pemohon.nama_pekerjaan|default:'.....................'}</td>
							</tr>
						</table> 
					</td>
				</tr>
				<tr>
					<td align="justify" style="padding-left:-34px;padding-right:50px;padding-bottom: 10px;">
						<b>Status Hubungan dengan Pemilik Alamat Tujuan</b> : {$data.surat.info_tambahan.status_dengan_pemilik|default:'.....................'}.
					</td>
				</tr>
			</table>
			</td>
		</tr>
		
		<tr>
			<td align="justify" style="padding-left:65px;padding-right:50px;padding-bottom: 10px">
				Demikian Surat Pernyataan ini saya buat untuk dipergunakan sebagaimana mestinya dan apabila dikemudian hari muncul akibat hukum, maka 
				akan menjadi tanggung jawab saya tanpa melibatkan pihak Dinas Kependudukan dan Pencatatan Sipil Kota Makassar.
			</td>
		</tr>
	</table>
	<table width="100%" style="margin-left: 25px;margin-right: 25px; margin-bottom: 20px; font-size: 14px;font-family: arial;">
		<tr>
			<td width="55%">
				&nbsp;
			</td>
			<td align="left" width="45%">
				{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'.....'}, {$data.surat.tanggal_surat|default:'............................'} <br/>
				<span style="font-size:2px">&nbsp;</span><br/>
				Yang Menyatakan 
				<br/><br/>
				<table style="border:1px dashed #666;width: 80px;margin-left:-90px;font-size: 10px;padding-top: 8px;padding-bottom: 8px;">
					<tr>
						<td align="center">Materai<br/>Rp. 10.000,-</td>
					</tr>
				</table>
				<br/>
				<b><u>{$data.surat.info_tambahan.nama_pemilik_rumah|default:'.....................'}</u></b>
			</td>
		</tr>
	</table>
</div>
</body>
</html>