<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title></title>

    <style type="text/css">
      table {
        width: 100%;
      }
      body {
        font-family: "arial";
      }
    </style>
  </head>
  <body>
    <div style="padding-bottom: 5mm;">
      <table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
        <tr>
          <td colspan="3" align="center" style="padding-top: 10mm;"> 
            <b><u>SURAT PERNYATAAN SIAP MELEPAS</u></b>
          </td>
        </tr>
      </table>
    </div>
    <div
      style="padding-right: 5.82mm;padding-left: 15.44mm;padding-bottom: 2mm;font-size: 16px;">
      <table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5">
        <tr>
          <td colspan="6" align="left" valign="top">
            Yang bertanda tangan di bawah ini  :
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" style="width: 42px"><br /></td>
          <td align="left" valign="top" style="width: 80px">Nama</td>
          <td align="center" valign="top" style="width: 15px">:</td>
          <td colspan="3" align="left" valign="top">
            {$data.pemohon.nama|default:'.....................'}
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" style="width: 42px"><br /></td>
          <td align="left" valign="top" style="width: 80px">NIP</td>
          <td align="center" valign="top" style="width: 15px">:</td>
          <td colspan="3" align="left" valign="top">
            {$data.pemohon.nip|default:'.....................'}
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" style="width: 42px"><br /></td>
          <td align="left" valign="top" style="width: 80px">Pangkat/Gol.</td>
          <td align="center" valign="top" style="width: 15px">:</td>
          <td colspan="3" align="left" valign="top">
            {$data.pemohon.pangkat|default:'.....................'}
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" style="width: 42px"><br /></td>
          <td align="left" valign="top" style="width: 80px">Jabatan</td>
          <td align="center" valign="top" style="width: 15px">:</td>
          <td colspan="3" align="left" valign="top">
            {$data.pemohon.jabatan|default:'.....................'}
          </td>
        </tr>
      </table>
      <table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5">
        <tr>
          <td colspan="6" align="left" valign="top">
            Menyatakan bahwa berdasarkan {$data.surat.info_tambahan.surat_tindak_lanjut|default:'.....................'} Nomor : {$data.surat.info_tambahan.nomor_surat_dasar|default:'.....................'} tanggal {tgl_indo($data.surat.info_tambahan.tgl_surat_dasar)|default:'.....................'} tentang 
            Pengangkatan Tenaga Pendukung Non ASN sebagai Laskar Pelayan Publik Berintegritas Pemerintah Kota Makassar Tahun 2024, atas saudara :
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" style="width: 42px"><br /></td>
          <td align="left" valign="top" style="width: 160px">Nama</td>
          <td align="center" valign="top" style="width: 15px">:</td>
          <td align="left" valign="top">
            <b>{$data.surat.info_tambahan.nama_dalam_surat|default:'.....................'}</b>
          </td>
        </tr>
        <tr>
          <td align="left" valign="top"><br /></td>
          <td align="left" valign="top">NIP</td>
          <td align="center" valign="top">:</td>
          <td align="left" valign="top">{$data.surat.info_tambahan.nip_pemohon|default:'.....................'}</td>
        </tr>
        <tr>
          <td align="left" valign="top"><br /></td>
          <td align="left" valign="top">Pendidikan</td>
          <td align="center" valign="top">:</td>
          <td align="left" valign="top">{$data.surat.info_tambahan.pendidikan_pemohon|default:'.....................'}</td>
        </tr>
        <tr>
          <td align="left" valign="top"><br /></td>
          <td align="left" valign="top">Jabatan</td>
          <td align="center" valign="top">:</td>
          <td align="left" valign="top">
            {$data.surat.info_tambahan.jabatan_pemohon|default:'.....................'}
          </td>
        </tr>
        <tr>
          <td align="left" valign="top"><br /></td>
          <td align="left" valign="top">Jabatan</td>
          <td align="center" valign="top">:</td>
          <td align="left" valign="top">
            {$data.surat.info_tambahan.unit_kerja|default:'.....................'}
          </td>
        </tr>
        <tr>
          <td colspan="6" align="center" valign="bottom"><br /></td>
        </tr>
        <tr>
          <td colspan="6" width="100%" valign="top" align="justify" style="padding-top: -20px">
            Maka kami bersedia melepas pindah dari {$data.surat.info_tambahan.unit_kerja|default:'...........'} ke {$data.surat.info_tambahan.tempat_kerja_tujuan|default:'...........'} 
            Kota {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:''} sesuai ketentuan yang berlaku.
          </td>
        </tr>

        <tr>
          <td colspan="6" align="left" valign="top">
            Demikian Surat Pernyataan Melepas ini Kami berikan untuk dipergunakan sebagaimana mestinya.
          </td>
        </tr>
      </table>
    </div>
    <br/>
   {ttd_1($data,$setting)}
</html>
