<!DOCTYPE html>
<html>
<head>
    <title>SIMLURAH ADMINISTRASI</title>
    <style>
		table { width:100%; } 
		body { font-family: 'arial'; }
	</style>
</head>
<body>
	<div id='content'>
		<div style="padding-bottom: 5mm;">
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
				
				{include file="backend/template/kop_surat_kelurahan.html"}
				<tr>
					<td colspan=3 align="center"><b><u>SURAT TUGAS</u></b></td>
				</tr>
				<tr>
					<td colspan=3 align="center" style="font-size:13.3px">NOMOR: {$data.surat.no_surat|default:'..................................................'}</td>
				</tr>
			</table>
		</div>
		{if count($data.surat.info_tambahan.data_petugas) >10}
		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 12px;padding-top: -10px;" cellspacing="2">
			{if count($data.surat.info_tambahan.dasar) > 0}
			<tr>
				<td align="justify" style="padding-left:70px;padding-bottom: 11px;">
					Dasar : 
				</td>
			</tr>
			{/if}
			<tr>
				<td style="padding-left:100px;padding-top: -35px;">
					{$no=1}
					{foreach from=$data.surat.info_tambahan.dasar item=st}
					<table width="100%" style="font-weight: none; font-size: 12px;padding-left: -10px;padding-top: 5px;" cellspacing="2">
						<tr>
							<td valign="top">&emsp;&emsp;</td>
							<td valign="top">{$no++}.</td>
							<td valign="top">{$st.dasar_penugasan|default:'.....................'}</td>
						</tr>
					</table>
					{/foreach}
				</td>
			</tr>
			<tr>
				<td align="justify" style="padding-left:70px;padding-bottom: 5px">
					Nomor : {$data.surat.info_tambahan.nomor_tugas|default:'.....................'}
				</td>
			</tr>
			<tr>
				<td valign="top" align="justify" style="padding-left:70px;padding-bottom: 5px">
					Perihal : {$data.surat.info_tambahan.perihal_tugas|default:'.....................'}
				</td>
			</tr>
			<tr>
				<td valign="top" align="center" style="padding-left:70px;padding-bottom: 5px">
					MENUGASKAN : 
				</td>
			</tr>
			<tr>
				<td valign="top" align="left" style="padding-left:68px;padding-bottom: 5px">
					Kepada : 
				</td>
			</tr>
			<tr>
				<td style="padding-left:170px;padding-top: -15px;">
					{$no=1}
					{foreach from=$data.surat.info_tambahan.data_petugas item=st}
					<table width="100%" style="font-weight: none; font-size: 12px;padding-left: -10px;" cellspacing="2">
						<tr>
							<td valign="top" style="padding-top:-4px">&emsp;&emsp;</td>
							<td valign="top" style="padding-top:-4px">{$no++}.</td>
							<td valign="top" style="padding-top:-4px">{$st.nama_petugas|default:'.....................'}</td>
							{if $st.jabatan_petugas != ''}
							<td valign="top" style="padding-top:-4px">({$st.jabatan_petugas|default:'.....................'})</td>
							{/if}
						</tr>
					</table>
					{/foreach}
				</td>
			</tr>
		
			<tr>
				<td align="justify" style="padding-left:70px;padding-bottom: 5px">
					Untuk : {$data.surat.info_tambahan.tujuan_penugasan|default:'...............................'}, yang akan dilaksanakan pada :
				</td>
			</tr>
			<tr>
				<td style="padding-left:100px">
					<table width="100%" style="font-weight: none; font-size: 12px;padding-left: 23px;" cellspacing="2">
						<tr>
							<td valign="top">Hari</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">{$data.surat.info_tambahan.hari_penugasan|default:'...............................'}</td>
						</tr>
						<tr>
							<td valign="top">Tanggal</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">
								{if $data.surat.info_tambahan.tgl_akhir_penugasan !=''} {$data.surat.info_tambahan.tgl_awal_penugasan|default:'...............'} s/d {$data.surat.info_tambahan.tgl_akhir_penugasan|default:'...............'}
								{else} {$data.surat.info_tambahan.tgl_awal_penugasan|default:'...............'} {/if}
							</td>
						</tr>
						<tr>
							<td valign="top">Waktu</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">{$data.surat.info_tambahan.jam_penugasan|default:'...............................'} wita - selesai</td>
						</tr>
						<tr>
							<td valign="top">Tempat</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">{$data.surat.info_tambahan.tempat_penugasan|default:'...............................'}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<p style="line-height: 1.4;text-align: justify;margin-left: 67px;margin-right: 10px;padding-top: -10px;font-size: 12px;">Surat Tugas ini mulai berlaku pada tanggal dikeluarkan dan setelah tugas selesai agar memberikan laporan.</p>
					
		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 12px">
			<tr>
				<td width="55%">
					&nbsp;
				</td>
				<td align="left" width="40%">
					
					{ttd_1($data,$setting)} 
				</td>
			</tr>
		</table>

		{else} 
		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 14px;padding-top: -10px;" cellspacing="5">
			{if count($data.surat.info_tambahan.dasar) > 0}
			<tr>
				<td align="justify" style="padding-left:70px">
					Dasar : 
				</td>
			</tr>
			{/if}
			<tr>
				<td style="padding-left:100px;padding-top: -35px;">
					{$no=1}
					{foreach from=$data.surat.info_tambahan.dasar item=st}
					<table width="100%" style="font-weight: none; font-size: 14px;padding-left: -10px;padding-top: 5px;" cellspacing="5">
						<tr>
							<td valign="top">&emsp;&emsp;</td>
							<td valign="top">{$no++}.</td>
							<td valign="top">{$st.dasar_penugasan|default:'.....................'}</td>
						</tr>
					</table>
					{/foreach}
				</td>
			</tr>
			<tr>
				<td align="justify" style="padding-left:70px;padding-bottom: 5px">
					Nomor : {$data.surat.info_tambahan.nomor_tugas|default:'.....................'}
				</td>
			</tr>
			<tr>
				<td valign="top" align="justify" style="padding-left:70px;padding-bottom: 5px">
					Perihal : {$data.surat.info_tambahan.perihal_tugas|default:'.....................'}
				</td>
			</tr>
			<tr>
				<td valign="top" align="center" style="padding-left:70px;padding-bottom: 5px">
					MENUGASKAN : 
				</td>
			</tr>
			{if count($data.surat.info_tambahan.data_petugas) > 0}
			<tr>
				<td valign="top" align="left" style="padding-left:68px;padding-bottom: 5px">
					Kepada : 
				</td>
			</tr>
			{/if}
			<tr>
				<td style="padding-left:110px;padding-top: -15px;">
					{$no=1}
					{foreach from=$data.surat.info_tambahan.data_petugas item=st}
					<table width="100%" style="font-weight: none; font-size: 14px;padding-left: -10px;" cellspacing="5">
						<tr>
							<td valign="top">&emsp;&emsp;</td>
							<td valign="top">{$no++}.</td>
							<td valign="top">{$st.nama_petugas|default:'.....................'}</td>
							{if $st.jabatan_petugas != ''}
							<td valign="top">({$st.jabatan_petugas|default:'.....................'})</td>
							{/if}
						</tr>
					</table>
					{/foreach}
				</td>
			</tr>
			
			<tr>
				<td align="justify" style="padding-left:70px;padding-bottom: 5px">
					Untuk : {$data.surat.info_tambahan.tujuan_penugasan|default:'...............................'}, yang akan dilaksanakan pada :
				</td>
			</tr>
			<tr>
				<td style="padding-left:100px;padding-top: -7px;">
					<table width="100%" style="font-weight: none; font-size: 14px;padding-left: 23px;" cellspacing="5">
						<tr>
							<td valign="top">Hari</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">{$data.surat.info_tambahan.hari_penugasan|default:'...............................'}</td>
						</tr>
						<tr>
							<td valign="top">Tanggal</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">
								{if $data.surat.info_tambahan.tgl_akhir_penugasan !=''} {$data.surat.info_tambahan.tgl_awal_penugasan|default:'...............'} s/d {$data.surat.info_tambahan.tgl_akhir_penugasan|default:'...............'}
								{else} {$data.surat.info_tambahan.tgl_awal_penugasan|default:'...............'} {/if}
							</td>
						</tr>
						<tr>
							<td valign="top">Waktu</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">{$data.surat.info_tambahan.jam_penugasan|default:'...............................'} wita - selesai</td>
						</tr>
						<tr>
							<td valign="top">Tempat</td>
							<td align="center">:</td>
							<td valign="top" style="padding-bottom: 5px;">{$data.surat.info_tambahan.tempat_penugasan|default:'...............................'}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		<p style="line-height: 1.4;text-align: justify;margin-left: 67px;margin-right: 10px;padding-top: -15px;font-size: 14px;">Surat Tugas ini mulai berlaku pada tanggal dikeluarkan dan setelah tugas selesai agar memberikan laporan.</p>
					
		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 14px">
			<tr>
				<td width="55%">
					&nbsp;
				</td>
				<td align="left" width="40%">
					
					{ttd_1($data,$setting)} 
				</td>
			</tr>
		</table>
		{/if}

		{if $data.surat.info_tambahan.tembusan !=''}
		<div style="padding-left: 67px;padding-top: 70px;">
			<h5>Tembusan :</h5>
			<dl>
				<dt style="font-size: 12px;padding-top: -15px">{nl2br({$data.surat.info_tambahan.tembusan|default:'.....................'})}</dt>
			</dl>
		</div>
		{else} 
		{/if}
</div>
</body>
</html>