<!DOCTYPE html>
<html>
<head>
    <title>SIMLURAH ADMINISTRASI</title>
    <style>
		table { width:100%; } 
		body { font-family: 'arial'; }
	</style>
</head>
<body>
	<div id='content'>
		<div style="padding-bottom: 5mm;">
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
				<!-- <tr>
					<td align="center" rowspan=4 valign="middle" style="width: 150px;">
						<img src="{$host}__assets/images/logo-makassar.png" style="height:100px" />
					</td>
					<td align="center" valign="bottom" style="font-size:22.6px;padding:0px">PEMERINTAH {$setting.nama_kab_kota|upper|default:'.......'}</td>
					{if $setting.status_logo_lainnya eq '1'}
					<td align="center" rowspan=4 valign="middle"  style="width: 150px;">
						<img src="{$host}__assets/images/logo-camat.png" onerror="this.onerror=null;this.src='{$host}__assets/images/logo-blank.png';"  style="height:100px"/>
					</td>
					{else} 
					<td align="center" rowspan=4 valign="middle"  style="width: 150px;">
						<img src="{$host}__assets/images/logo-blank.png" onerror="this.onerror=null;this.src='{$host}__assets/images/logo-blank.png';"  style="height:100px"/>
					</td>
					{/if}
				</tr>
				<tr>
					<td align="center" style="font-size:22.6px;padding:0px">KECAMATAN {$setting.nama_kecamatan|upper|default:'.......'}</td>
				</tr>
				<tr>
					<td align="center" valign="top" style="font-size:18.6px;padding:0px"><b>{$setting.nama_desa|upper|default:'.......'}</b></td>
				</tr>
				<tr>
					<td align="center" valign="top" style="font-size:10.6px;padding:0px">
						<i>
							{if strlen($setting.alamat)>1}
							{$setting.alamat|default:'...'}
							{/if}
							{if strlen($setting.telp)>1}
							Telp. {$setting.telp|default:'...'}
							{/if}
							{if strlen($setting.faks)>1}
							Fax. {$setting.faks|default:'...'}
							{/if}
							{if strlen($setting.email)>1}
							Email : {$setting.email|default:'...'}
							{/if}
							{if strlen($setting.nama_kab_kota)>1}
							{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'...'}
							{/if}
							{if strlen($setting.kode_pos)>1}
							Kode Pos {$setting.kode_pos|default:'...'}
							{/if}
							{if strlen($setting.website)>1}
							<br>Website : {str_replace('-','',$setting.website|default:'')}
							{/if}
						</i>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="3" align="center">
						<hr style="color: black;height: 4px; margin-bottom:0px">
						<hr style="color: black;height: 1px; margin-top:3px">
					</td>
				</tr> -->
				{include file="backend/template/kop_surat_kelurahan.html"}
			</table>
		</div>
		
		<table width="100%" style="margin-bottom: 20px; font-size: 15px;padding-top: -20px">
			<tr>
				<td align="center" style="padding-left: 380px;">{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'..........'}, {$data.surat.tanggal_surat|default:'............................'}</td>
			</tr>
		</table>
		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 15px;" cellspacing="0" cellpadding="10">
			<tr>
				<td width="70%">
					<table style="font-size: 16px;">
						<tr>
							<td valign="top">Nomor</td>
							<td valign="top">:</td>
							<td valign="top" style="padding-right: 250px;">{$data.surat.no_surat|default:'.....................'}</td>
						</tr>
						<tr>
							<td valign="top">Lamp</td>
							<td valign="top">:</td>
							<td valign="top" style="padding-right: 250px;">{$data.surat.info_tambahan.lampiran|default:'.....................'}</td>
						</tr>
						<tr>
							<td valign="top">Perihal</td>
							<td valign="top">:</td>
							<td valign="top" style="padding-right: 250px;">{$data.surat.info_tambahan.perihal|default:'.....................'}</td>
						</tr>
					</table>
				</td>
				<td width="50%">
					<table style="font-size: 16px;">
						<tr>
							<td valign="top"></td>
							<td valign="top" colspan="2">Kepada</td>
						</tr>
						
						{if $data.surat.info_tambahan.kpd_yth !=''}
						<tr>
							<td valign="top">Yth</td>
							<td valign="top">&nbsp;</td>
							<td valign="top">{nl2br({$data.surat.info_tambahan.kpd_yth|default:'.....................'})}</td>
						</tr>

						{else}
							<tr>
								<td valign="top"></td>
								<td valign="top" colspan="2">Bapak/Ibu/Saudara (i)</td>
							</tr>
						{/if}

						<tr>
							<td valign="top">&nbsp;</td>
							<td valign="top" colspan="2">Di</td>
						</tr>
						{if $data.surat.info_tambahan.di_undangan != ''}

							<tr>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">{$data.surat.info_tambahan.di_undangan|default:'..........'}</td>
							</tr>
								
						{else}
							<tr>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'..........'}</td>
							</tr>
						{/if}
					</table>
				</td>
			</tr>
		
		</table>				
	
	<br>
	<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 14px;padding-left: 15px;">
		
		<tr>
			{if $data.surat.info_tambahan.no_pemberitahuan != '' && $data.surat.info_tambahan.tgl_mediasi == ''}
			<td align="justify" style="padding-left:-6px;padding-right:50px;padding-bottom: 10px;">
				Berdasarkan Pemberitahuan Nomor {$data.surat.info_tambahan.no_pemberitahuan|default:'.....................'} oleh {$data.surat.info_tambahan.oleh_panggilan} 
				sebagai kuasa dari {$data.surat.info_tambahan.kuasa_dari} atas {$data.surat.info_tambahan.atas_panggilan} berdasarkan {$data.surat.info_tambahan.status_tanah2} 
				Nomor : {$data.surat.info_tambahan.no_panggilan} tertanggal {$data.surat.info_tambahan.tgl_panggilan}, {$data.surat.info_tambahan.jenis_tanah} seluas {$data.surat.info_tambahan.luas_tanah}
				yang terletak di {$data.surat.info_tambahan.alamat_penggilan} {$setting.nama_desa|default:'........'} Kecamatan {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kecamatan)))|default:''} 
				Kota {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:''}, maka dengan ini kami memanggil Bapak/Ibu/Saudara (i) untuk menghadap kepada kami pada :
			</td>
			{elseif $data.surat.info_tambahan.no_pemberitahuan == '' && $data.surat.info_tambahan.tgl_mediasi != ''}
			<td align="justify" style="padding-left:-6px;padding-right:50px;padding-bottom: 10px;">
				Berdasarkan Permohonan Surat Mediasi tertanggal {tgl_indo({$data.surat.info_tambahan.tgl_mediasi})} oleh sdr {$data.surat.info_tambahan.nama_mediasi} ahli waris dari {$data.surat.info_tambahan.kuasa_dari} 
				yang memiliki {$data.surat.info_tambahan.atas_panggilan} berdasarkan {$data.surat.info_tambahan.status_tanah2} Nomor : {$data.surat.info_tambahan.no_panggilan} seluas {$data.surat.info_tambahan.luas_tanah} 
				yang terletak di {$data.surat.info_tambahan.alamat_penggilan} maka dengan ini kami memanggil Bapak/Ibu/Saudara (i) untuk menghadap kepada kami pada :
			</td>
			{else}
			{/if}
		</tr>		
		<tr>
			<td>
				<table width="100%" style="font-weight: none; font-size: 14px;padding-left: 20px;">
					<tr>
						<td valign="top">Hari / Tanggal</td>
						<td valign="top" style="padding-left:20px;padding-right: 20px;" align="center">:</td>
						<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.hari_panggilan|default:''} / {$data.surat.info_tambahan.tgl_panggilan|default:''}</td>
					</tr>
					<tr>
						<td valign="top">Jam</td>
						<td valign="top" align="center">:</td>
						<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.jam_panggilan|default:''} WITA s.d selesai</td>
					</tr>
					<tr>
						<td valign="top">Tempat</td>
						<td valign="top" align="center">:</td>
						<td valign="top" style="padding-bottom: 10px;">{$data.surat.info_tambahan.tempat_panggilan|default:''}</td>
					</tr>
				</table> 
			</td>
		</tr>
		<tr>
			<td align="justify" style="padding-left:-6px;padding-right:50px;padding-bottom: 10px;">
				Demikian disampaikan kepada Bapak/Sdr (i) atas perhatian dan kehadirannya kami ucapkan banyak terimakasih.
			</td>
		</tr>
	</table>
</table>

		<table width="100%" style="margin-bottom: 20px; font-weight: none; font-size: 14px;padding-top: -20px;">
			<tr>
				<td width="55%">
					&nbsp;
				</td>
				<td align="left" width="40%">  
					
					<span style="font-size:2px">&nbsp;</span><br/>
					<b>
						{if count($data.ttd)==1}
						{$data.ttd[0]['center']}
						{else}
						{$data.ttd[0]['center']}<br>{$data.ttd[1]['center']}
						{/if}
						</b> 
					<br/>
					<br/>
					<br/>
					<br/> 
					<br/>
					
					<b><u>{$data.pemohon.nama|default:'...............................'}</u></b>
					<br/>
					Pangkat : {$data.pemohon.pangkat|default:'............................'}
					<br/>
					NIP : {$data.pemohon.nip|default:'...............................'}
				</td>
			</tr>
		</table>  

		{if $data.surat.info_tambahan.tembusan !=''}
		<div style="padding-left: 10px;padding-top: 70px;">
			<h5>Tembusan :</h5>
			<dl>
				<dt style="font-size: 12px;padding-top: -15px">{nl2br({$data.surat.info_tambahan.tembusan|default:'.....................'})}</dt>
			</dl>
		</div>
		{else} 
		{/if}

		<p style="line-height: 1.6;text-align: left;margin-left: 10px;margin-right: 10px;padding-top: -20px;font-size: 12px;">
			{if $data.surat.info_tambahan.catatan_undangan != ''}Catatan : {$data.surat.info_tambahan.catatan_undangan|default:'.....................'}{else}{/if}</p>
			
	
</div>
</body>
</html>