<!DOCTYPE HTML>

<html>
<head>
	

	<title>SURAT KETERANGAN NUMPANG NIKAH</title>
	
</head>

<body>
	<div style="padding-bottom: 5mm;">
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;font-family: arial;">
			
			{include file="backend/template/kop_surat_kelurahan.html"}
			<tr>
				<td colspan=3 align="center"><b><u>SURAT KETERANGAN NUMPANG NIKAH</u></b></td>
			</tr>
			<tr>
				<td colspan=3 align="center" style="font-size:13.3px">NOMOR: 
						{if isset($data.surat.info_tambahan.ttd_srikandi) and $data.surat.info_tambahan.ttd_srikandi neq ''}
						{'${nomor_naskah}'}
						{else}
						{$data.surat.no_surat|default:'..................................................'}
						{/if}</td>
			</tr>
		</table>
	</div>
	<div style="padding-right: 5.82mm;padding-left: 15.44mm; padding-bottom: 2mm; font-size: 16px;padding-top: -10px;">
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5;font-family: arial;">
			<tr>
				<td colspan=6 align="left" valign=top>Yang bertanda tangan di bawah ini :</td>
			</tr>
			<tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 80px;">Nama</td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td colspan=3 align="left" valign=top>{$data.pemohon.nama|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Jabatan</td>
				<td align="center" valign=top>:</td>
				<td colspan=3 align="left" valign=top>{$data.pemohon.jabatan|default:'.....................'}</td>
			</tr>
		</table><br>
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5;font-family: arial;">
			<tr>
				<td colspan=6 align="left" valign=top>Dengan ini menerangkan bahwa :</td>
			</tr>
			<tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 160px;">Nama</td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td align="left" valign=top><b>{$data.pemohon.nama_lengkap|default:'.....................'}</b></td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>NIK</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.pemohon.nik|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Jenis Kelamin</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.pemohon.jenis_kelamin|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Tempat/ Tanggal Lahir</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{ucwords(strtolower($data.pemohon.tempat_lahir))|default:'...'}, {tgl_indo({$data.pemohon.tgl_lahir|default:''})}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Pekerjaan</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{ucwords(strtolower($data.pemohon.nama_pekerjaan))|default:'.....................'}</td>
			</tr>
			
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Agama</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.pemohon.agama|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Status Perkawinan</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.pemohon.status_kawin|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Alamat</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.pemohon.alamat|default:'.....................'}, RT {$data.pemohon.rt|default:'...'}/RW {$data.pemohon.rw|default:'...'}</td>
			</tr>
			
			<tr>
				<td colspan=4 align="center" valign=bottom><br></td>
			</tr>
			<tr>
				<td colspan=4 valign=top align="justify" style="padding-top: -20px">Nama tersebut di atas betul bermaksud akan numpang Nikah / Kawin di :
				</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Alamat</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.alamat_pasangan|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Kepada seseorang bernama</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.nama_pasangan|default:'....'}
					Bin/Binti
					{$data.surat.info_tambahan.nama_ayah_pasangan|default:'....'}</td>
			</tr>
			
			<tr>
				<td colspan=4 align="left" valign=top>Demikian Surat Keterangan ini diberikan dan dipergunakan <b>{$data.surat.info_tambahan.keperluan_surat|default:'sebagaimana mestinya'}</b>.</td>
			</tr>
		</table>
	</div>
	<br>
	
	{ttd_1($data,$setting)}
</body>
</html>
