<div class="page">
	<div style="padding-bottom: 5mm;">
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
			{include file="backend/template/kop_surat_kelurahan.html"}
			<tr>
				<td colspan=3 align="center"><b><u>SURAT KETERANGAN TIDAK MAMPU</u></b></td>
			</tr>
			<tr>
				<td colspan=3 align="center" style="font-size:13.3px">NOMOR: 
					{if isset($data.surat.info_tambahan.ttd_srikandi) and $data.surat.info_tambahan.ttd_srikandi neq ''}
					{'${nomor_naskah}'}
					{else}
					{$data.surat.info_tambahan.pemohon.no_surat_sktm|default:'..................................................'}
					{/if}
				</td>
			</tr>
		</table>
	</div>
	<div style="padding-left: 15.44mm; padding-bottom: 2mm;">
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5;font-size: 15px">
			<tr>
				<td colspan=6 align="left" valign=top>Yang bertanda tangan di bawah ini :</td>
			</tr>
			<tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 80px;">Nama</td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td colspan=3 align="left" valign=top>{$data.pemohon.nama|default:'.....................'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Jabatan</td>
				<td align="center" valign=top>:</td>
				<td colspan=3 align="left" valign=top>{$data.pemohon.jabatan|default:'.....................'}</td>
			</tr>
		</table><br>
		<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse; line-height: 1.5;font-size: 15px">
			<tr>
				<td colspan="4" align="left" valign=top>Dengan ini menerangkan bahwa :</td>
			</tr>
			<tr>
				<td align="left" valign=top style="width:42px;"><br></td>
				<td align="left" valign=top style="width: 175px;">Nama</td>
				<td align="center" valign=top style="width: 15px;">:</td>
				<td align="left" valign=top><b>{$data.surat.info_tambahan.pemohon.nama_sktm|default:'..........'}</b></td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>NIK</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.pemohon.nik_sktm|default:'..........'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Tempat / Tanggal Lahir</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{ucwords(strtolower($data.surat.info_tambahan.pemohon.tempat_lahir_sktm))|default:'...'}, {tgl_indo($data.surat.info_tambahan.pemohon.tgl_lahir_sktm)|default:''}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Jenis Kelamin</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.pemohon.jns_kelamin_sktm|default:'..........'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Status Perkawinan</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.pemohon.nama_status_sktm|default:'..........'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Agama</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.pemohon.nama_agama_sktm|default:'..........'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Pekerjaan</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{ucwords(strtolower($data.surat.info_tambahan.pemohon.nama_pekerjaan_sktm))|default:'..........'}</td>
			</tr>
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Alamat</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.pemohon.alamat_sktm|default:'..........'}, RT {$data.surat.info_tambahan.pemohon.rt_sktm|default:'...'}/RW {$data.surat.info_tambahan.pemohon.rw_sktm|default:'...'}</td>
			</tr>
			{if $data.surat.info_tambahan.pemohon.masa_berlaku_surat != ''}
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Masa Berlaku</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top><b>{$data.surat.info_tambahan.pemohon.masa_berlaku_surat|default:'..........'}</b></td>
			</tr>
			{/if}
			{if $data.surat.info_tambahan.pemohon.alamat_domisili_sktm != ''}
			<tr>
				<td align="left" valign=top><br></td>
				<td align="left" valign=top>Alamat Domisili</td>
				<td align="center" valign=top>:</td>
				<td align="left" valign=top>{$data.surat.info_tambahan.pemohon.alamat_domisili_sktm|default:'..........'}</td>
			</tr>
			{/if}
			<tr>
				<td colspan=4 align="center" valign=top style="padding-top: 10px;"></td>
			</tr>

			<tr>
				<td colspan="4" align="justify" valign="top">
					Yang tersebut namanya di atas adalah penduduk {ucwords(strtolower($setting.nama_desa))|default:''} Kecamatan {ucwords(strtolower($setting.nama_kecamatan))|default:'.......'} Kota {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'.......'} dan berdomisili pada alamat tersebut di atas sesuai pengantar Nomor {$data.surat.info_tambahan.pemohon.no_pengantar_sktm|default:'.....................'}</b> Tanggal {tgl_indo({$data.surat.info_tambahan.pemohon.tgl_pengantar_sktm|default:'.......'})}, warga tersebut termasuk <b>Keluarga Tidak Mampu</b>.
				</td>
			</tr>
			<tr>
				<td colspan=4 align="center" valign=top style="padding-top: 10px;"></td>
			</tr>
			<tr>
				<td colspan=4 align="left" valign=top>Demikian surat keterangan ini diberikan dan dipergunakan <b>{$data.surat.info_tambahan.pemohon.keperluan_surat|default:'sebagaimana mestinya'}</b>.</td>
			</tr>
		</table>
	</div>

	{ttd_1($data,$setting)}
</div>