<!DOCTYPE html>
<html>
  <head>
    <title>SIMLURAH</title>
    <style>
      table {
        width: 100%;
      }
      body {
        font-family: "arial";
      }
    </style>
  </head>
  <body>
    <div id="content">
      <table
        width="100%"
        style="margin-bottom: 20px; font-size: 17px; padding-top: 10px"
      >
        <tr>
          <td align="center">
            <b><u>SURAT PERNYATAAN</u></b>
          </td>
        </tr>
      </table>
      <br/>
      <br/>

      {if count($data.surat.info_tambahan.data_ahli_waris) >7} 
      {foreach from=$data.surat.info_tambahan.data_ahli_waris item=kawin} {if $kawin.hubungan_waris != 'ANAK' && $kawin.hubungan_waris != 'CUCU'} 
      {$kw = ucwords(strtolower($kawin.hubungan_waris))} {$nm_aw = $kawin.nama_ahli_waris} {$sw = $kawin.status_waris} {else} {/if}
      {/foreach}
      <p style="line-height: 1.4;text-align: justify;margin-left: 67px;margin-right: 10px;padding-top: -50px;font-size: 12px;">
        Kami yang bertanda tangan di bawah ini, para ahli Waris dari {$data.surat.info_tambahan.sebutan|default:'....'} {$data.surat.info_tambahan.nama_alm|default:'.....................'}
        Menerangkan dengan sesungguhnya dan sanggup diangkat sumpah bahwa {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        yang bertempat tinggal terakhir di {$data.surat.info_tambahan.alamat_alm|default:'.....................'}, ORT. {$data.surat.info_tambahan.rt_alm|default:'.....................'} ORW. {$data.surat.info_tambahan.rw_alm|default:'.....................'}
        {ucwords(strtolower(str_replace('KOTA','',$setting.nama_desa)))|default:''} Kecamatan {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kecamatan)))|default:''} Kota {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:''},
        pada tanggal {$data.surat.info_tambahan.tgl_meninggal|default:'.....................'} telah meninggal dunia di {$data.surat.info_tambahan.tempat_meninggal|default:'.....................'} {if $data.surat.info_tambahan.no_surat_kematian != ''} sesuai surat
        Kematian Nomor : {$data.surat.info_tambahan.no_surat_kematian|default:'....'} Tanggal {tgl_indo($data.surat.info_tambahan.tgl_surat_kematian)|default:'....'} {else} {/if}.<br />
        Dari perkawinan dengan {$kw}nya {$nm_aw} {if $sw == 'HIDUP'} yang sampai saat ini masih hidup{else} yang telah meninggal dunia pada tanggal {tgl_indo($data.surat.info_tambahan.tgl_meninggal_istri)|default:'....'} {/if}{if $data.surat.info_tambahan.jml_anak == '0'} dan 
        tidak memiliki anak. {else}, telah dilahirkan {$data.surat.info_tambahan.jml_anak|default:'.....................'}
        ({ubah_kata($data.surat.info_tambahan.jml_anak)|default:'.....................'|default:'.....................'})
        orang anak, yaitu :{/if}
      </p>
      <table
        width="100%"
        style="font-size: 12px; padding-left: 60px; padding-top: -10px"
        cellpadding="2"
      >
        {$no=1} {foreach from=$data.surat.info_tambahan.data_ahli_waris
        item=pen} {if $pen.hubungan_waris == 'ANAK'}
        <tr>
          <td>
            {$no++}. {$pen.nama_ahli_waris|default:'.....................'} <br> &nbsp;&nbsp;&nbsp;{if $pen.nik_ahli_waris !=''} NIK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;{$pen.nik_ahli_waris|default:''} {else} {/if}
          </td>
        </tr>
        {else} {/if} {/foreach}
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      {foreach from=$data.surat.info_tambahan.data_ahli_waris item=pen} {if
      $pen.hubungan_waris != 'ANAK'}{$sbg = $pen.hubungan_waris}{else}{/if}
      {/foreach}

      <p
        style="
          line-height: 1.4;
          text-align: justify;
          margin-left: 65px;
          margin-right: 10px;
          padding-top: -55px;
          font-size: 12px;
        "
      >
        Demikian kami {if $data.surat.info_tambahan.jml_anak >0 && $sw ==
        'HIDUP'} {$kw}nya dan ke
        {$data.surat.info_tambahan.jml_anak|default:'.....................'}
        ({ubah_kata($data.surat.info_tambahan.jml_anak)|default:'.....................'|default:'.....................'})
        orang anak tersebut diatas adalah satu-satunya ahli waris dari
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        dan menyatakan bahwa tidak ada lagi ahli waris yang tidak dimasukan
        dalam daftar sebagai ahli waris, termasuk bila
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} menikah
        dengan {ucwords(strtolower($sbg))} lainnya dan bilamana dikemudian hari
        surat pernyataan ini tidak benar serta ada ahli waris yang disembunyikan
        / tidak tercantum dalam surat pernyataan ini maka segala resiko dan
        akibat hukum yang ditimbulkan akan ditanggung oleh para ahli waris
        tersebut diatas, tanpa melibatkan para saksi, Lurah dan Camat setempat.
        {elseif $data.surat.info_tambahan.jml_anak ==0 && $sw == 'HIDUP' }
        {$kw}nya tersebut diatas adalah satu-satunya ahli waris dari
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        dan menyatakan bahwa tidak ada lagi ahli waris yang tidak dimasukan
        dalam daftar sebagai ahli waris, termasuk bila
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} menikah
        dengan {ucwords(strtolower($sbg))} lainnya dan bilamana dikemudian hari
        surat pernyataan ini tidak benar serta ada ahli waris yang disembunyikan
        / tidak tercantum dalam surat pernyataan ini maka segala resiko dan
        akibat hukum yang ditimbulkan akan ditanggung oleh para ahli waris
        tersebut diatas, tanpa melibatkan para saksi, Lurah dan Camat setempat.
        {else} ke
        {$data.surat.info_tambahan.jml_anak|default:'.....................'}
        ({ubah_kata($data.surat.info_tambahan.jml_anak)|default:'.....................'|default:'.....................'})
        orang anak tersebut diatas adalah satu-satunya ahli waris dari
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        dan menyatakan bahwa tidak ada lagi ahli waris yang tidak dimasukan
        dalam daftar sebagai ahli waris, termasuk bila
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} menikah
        dengan {ucwords(strtolower($sbg))} lainnya dan bilamana dikemudian hari
        surat pernyataan ini tidak benar serta ada ahli waris yang disembunyikan
        / tidak tercantum dalam surat pernyataan ini maka segala resiko dan
        akibat hukum yang ditimbulkan akan ditanggung oleh para ahli waris
        tersebut diatas, tanpa melibatkan para saksi, Lurah dan Camat setempat.
        {/if}
      </p>

      <table
        width="100%"
        style="
          margin-left: 180px;
          padding-bottom: -20px;
          font-size: 12px;
          padding-top: -10px;
        "
      >
        <tr>
          <td width="60%">&nbsp;</td>
          <td align="center" width="40%">
            {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'SIL
            ONLINE'},
            {$data.surat.tanggal_surat|default:'............................'}
          </td>
        </tr>
      </table>

      <table width="100%" border="0" style="font-size: 13px; padding-left: 65px; padding-top: 15px" cellpadding="4">
        <tr>
          <td>Para ahli waris tersebut :</td>
        </tr>
      </table>

      <table width="100%" border="0" style="font-size: 13px; margin-left: 65px" cellpadding="4">
        {$no=1} {$nox=1} {foreach from=$data.surat.info_tambahan.data_ahli_waris
        item=pen} {if $pen.status_waris == 'HIDUP'}
        <tr>
          <td align="left" valign="top" style="width: 3%">
            {$no++}.
          </td>
          <td align="left" valign="top" style="width: 45%">
            {$pen.nama_ahli_waris|default:'.....................'}
          </td>
          <td align="left" valign="top" style="width: 15%">
            ({strtolower($pen.hubungan_waris)|default:'.....................'})
          </td>
          <td align="left" valign="top" style="width: 37%">
            {$nox++}. .....................
          </td>
        </tr>
        {else} {/if} {/foreach}
      </table>
      {if isset($data.surat.info_tambahan.data_saksi[0].nama) && $data.surat.info_tambahan.data_saksi[0].nama != ''}
      <table
        width="100%"
        style="margin-bottom: 20px; font-size: 14px; padding-top: -10px"
      >
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center">
            <b>Saksi - saksi :</b>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" style="font-size: 12px; padding-center: 58px; padding-top: -40px">
        <tr>
          {foreach from=$data.surat.info_tambahan.data_saksi item=pen}
          <td align="center">
            {ucwords($pen.pekerjaan)|default:'.....................'}
          </td>
          <td>&nbsp;</td>
          {/foreach}
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          {foreach from=$data.surat.info_tambahan.data_saksi item=pen}
          <td align="center">
            <u><b>{$pen.nama|default:'.....................'}</b></u>
          </td>
          <td></td>
          {/foreach}
        </tr>
      </table>
      {/if}
      <br>
      <table
        width="100%"
        style="margin-bottom: 20px; font-size: 14px; padding-top: 10px"
      >
        <tr>
          <td align="center">
            <b>Telah diregister</b>
          </td>
        </tr>
      </table>

      <table
        width="100%"
        style="font-size: 14px; padding-left: 250px; padding-top: -20px"
      >
        <tr>
          <td>
            Nomor : {$data.surat.info_tambahan.no_reg_lurah|default:'....'}
          </td>
        </tr>
        <!-- <tr>
			<td>{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'SIL ONLINE'}, {$data.surat.info_tambahan.tgl_reg_camat|default:'....'}</td>
		</tr> -->
        <tr>
          <td valign="bottom" align="left">
            <b>
              {if count($data.ttd)==1}
              {$data.ttd[0]['center']}
              {else}
              {$data.ttd[0]['center']}<br>{$data.ttd[1]['center']}
              {/if}
            </b>
				  </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <u
              ><b
                >{$data.pemohon.nama|default:'...............................'}</b
              ></u
            >
          </td>
        </tr>
        <tr>
          <td>
            Nip. {$data.pemohon.nip|default:'...............................'}
          </td>
        </tr>
        <tr>
          <td>
            Pangkat/Gol.
            {$data.pemohon.pangkat|default:'............................'}
          </td>
        </tr>
      </table>

      {else} {foreach from=$data.surat.info_tambahan.data_ahli_waris item=kawin}
      {if $kawin.hubungan_waris != 'ANAK' && $kawin.hubungan_waris != 'CUCU'}
      {$kw = ucwords(strtolower($kawin.hubungan_waris))} {$nm_aw =
      $kawin.nama_ahli_waris} {$sw = $kawin.status_waris} {else} {/if}
      {/foreach}
      <p
        style="
          line-height: 1.4;
          text-align: justify;
          margin-left: 67px;
          margin-right: 10px;
          padding-top: -50px;
          font-size: 14px;
        "
      >
        Kami yang bertanda tangan di bawah ini, para ahli Waris dari
        {$data.surat.info_tambahan.sebutan|default:'....'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'}
        Menerangkan dengan sesungguhnya dan sanggup diangkat sumpah bahwa
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        yang bertempat tinggal terakhir di
        {$data.surat.info_tambahan.alamat_alm|default:'.....................'},
        ORT. {$data.surat.info_tambahan.rt_alm|default:'.....................'}
        ORW. {$data.surat.info_tambahan.rw_alm|default:'.....................'}
        {ucwords(strtolower(str_replace('KOTA','',$setting.nama_desa)))|default:''}
        Kecamatan
        {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kecamatan)))|default:''}
        Kota
        {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:''},
        pada tanggal
        {$data.surat.info_tambahan.tgl_meninggal|default:'.....................'}
        telah meninggal dunia di
        {$data.surat.info_tambahan.tempat_meninggal|default:'.....................'}
        {if $data.surat.info_tambahan.no_surat_kematian != ''} sesuai surat
        Kematian Nomor :
        {$data.surat.info_tambahan.no_surat_kematian|default:'....'} Tanggal
        {tgl_indo($data.surat.info_tambahan.tgl_surat_kematian)|default:'....'}
        {else} {/if}.<br />
        Dari perkawinan dengan {$kw}nya {$nm_aw} {if $sw == 'HIDUP'} yang sampai
        saat ini masih hidup{else} yang telah meninggal dunia pada tanggal
        {tgl_indo($data.surat.info_tambahan.tgl_meninggal_istri)|default:'....'}
        {/if}{if $data.surat.info_tambahan.jml_anak == '0'} dan tidak memiliki
        anak. {else}, telah dilahirkan
        {$data.surat.info_tambahan.jml_anak|default:'.....................'}
        ({ubah_kata($data.surat.info_tambahan.jml_anak)|default:'.....................'|default:'.....................'})
        orang anak, yaitu :{/if}
      </p>
      <table
        width="100%"
        style="font-size: 14px; padding-left: 60px; padding-top: -10px"
        cellpadding="4"
      >
        {$no=1} {foreach from=$data.surat.info_tambahan.data_ahli_waris
        item=pen} {if $pen.hubungan_waris == 'ANAK'}
        <tr>
          <td>
            {$no++}. {$pen.nama_ahli_waris|default:'.....................'} <br> &nbsp;&nbsp;&nbsp;{if $pen.nik_ahli_waris !=''} NIK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;{$pen.nik_ahli_waris|default:''} {else} {/if}
          </td>
        </tr>
        {else} {/if} {/foreach}
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      {foreach from=$data.surat.info_tambahan.data_ahli_waris item=pen} {if
      $pen.hubungan_waris != 'ANAK'}{$sbg = $pen.hubungan_waris}{else}{/if}
      {/foreach}

      <p
        style="
          line-height: 1.4;
          text-align: justify;
          margin-left: 65px;
          margin-right: 10px;
          padding-top: -55px;
          font-size: 14px;
        "
      >
        Demikian kami {if $data.surat.info_tambahan.jml_anak >0 && $sw ==
        'HIDUP'} {$kw}nya dan ke
        {$data.surat.info_tambahan.jml_anak|default:'.....................'}
        ({ubah_kata($data.surat.info_tambahan.jml_anak)|default:'.....................'|default:'.....................'})
        orang anak tersebut diatas adalah satu-satunya ahli waris dari
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        dan menyatakan bahwa tidak ada lagi ahli waris yang tidak dimasukan
        dalam daftar sebagai ahli waris, termasuk bila
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} menikah
        dengan {ucwords(strtolower($sbg))} lainnya dan bilamana dikemudian hari
        surat pernyataan ini tidak benar serta ada ahli waris yang disembunyikan
        / tidak tercantum dalam surat pernyataan ini maka segala resiko dan
        akibat hukum yang ditimbulkan akan ditanggung oleh para ahli waris
        tersebut diatas, tanpa melibatkan para saksi, Lurah dan Camat setempat.
        {elseif $data.surat.info_tambahan.jml_anak ==0 && $sw == 'HIDUP' }
        {$kw}nya tersebut diatas adalah satu-satunya ahli waris dari
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        dan menyatakan bahwa tidak ada lagi ahli waris yang tidak dimasukan
        dalam daftar sebagai ahli waris, termasuk bila
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} menikah
        dengan {ucwords(strtolower($sbg))} lainnya dan bilamana dikemudian hari
        surat pernyataan ini tidak benar serta ada ahli waris yang disembunyikan
        / tidak tercantum dalam surat pernyataan ini maka segala resiko dan
        akibat hukum yang ditimbulkan akan ditanggung oleh para ahli waris
        tersebut diatas, tanpa melibatkan para saksi, Lurah dan Camat setempat.
        {else} ke
        {$data.surat.info_tambahan.jml_anak|default:'.....................'}
        ({ubah_kata($data.surat.info_tambahan.jml_anak)|default:'.....................'|default:'.....................'})
        orang anak tersebut diatas adalah satu-satunya ahli waris dari
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'}
        {$data.surat.info_tambahan.nama_alm|default:'.....................'},
        dan menyatakan bahwa tidak ada lagi ahli waris yang tidak dimasukan
        dalam daftar sebagai ahli waris, termasuk bila
        {$data.surat.info_tambahan.sebutan|default:'Almarhum/Almarhuma'} menikah
        dengan {ucwords(strtolower($sbg))} lainnya dan bilamana dikemudian hari
        surat pernyataan ini tidak benar serta ada ahli waris yang disembunyikan
        / tidak tercantum dalam surat pernyataan ini maka segala resiko dan
        akibat hukum yang ditimbulkan akan ditanggung oleh para ahli waris
        tersebut diatas, tanpa melibatkan para saksi, Lurah dan Camat setempat.
        {/if}
      </p>

      <table
        width="100%"
        style="
          margin-left: 180px;
          padding-bottom: -20px;
          font-size: 14px;
          padding-top: -10px;
        "
      >
        <tr>
          <td width="60%">&nbsp;</td>
          <td align="center" width="40%">
            {ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'SIL
            ONLINE'},
            {$data.surat.tanggal_surat|default:'............................'}
          </td>
        </tr>
      </table>

      <table width="100%" border="0" style="font-size: 15px; padding-left: 65px; padding-top: 15px" cellpadding="4">
        <tr>
          <td>Para ahli waris tersebut :</td>
        </tr>
      </table>

      <table width="100%" border="0" style="font-size: 15px; margin-left: 65px" cellpadding="4">
        {$no=1} {$nox=1} {foreach from=$data.surat.info_tambahan.data_ahli_waris
        item=pen} {if $pen.status_waris == 'HIDUP'}
        <tr>
          <td align="left" valign="top" style="width: 3%">
            {$no++}.
          </td>
          <td align="left" valign="top" style="width: 45%">
            {$pen.nama_ahli_waris|default:'.....................'}
          </td>
          <td align="left" valign="top" style="width: 15%">
            ({strtolower($pen.hubungan_waris)|default:'.....................'})
          </td>
          <td align="left" valign="top" style="width: 37%">
            {$nox++}. .....................
          </td>
        </tr>
        {else} {/if} {/foreach}
      </table>
     {if isset($data.surat.info_tambahan.data_saksi[0].nama) && $data.surat.info_tambahan.data_saksi[0].nama != ''}
      <table width="100%" style="margin-bottom: 20px; font-size: 14px; padding-top: -10px">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center">
            <b>Saksi - saksi :</b>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" style="font-size: 12px; padding-center: 58px; padding-top: -40px">
        <tr>
          {foreach from=$data.surat.info_tambahan.data_saksi item=pen}
          <td align="center">
            {ucwords($pen.pekerjaan)|default:'.....................'}
          </td>
          <td>&nbsp;</td>
          {/foreach}
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          {foreach from=$data.surat.info_tambahan.data_saksi item=pen}
          <td align="center">
            <u><b>{$pen.nama|default:'.....................'}</b></u>
          </td>
          <td></td>
          {/foreach}
        </tr>
      </table>
      {/if}
      <br>
      <table
        width="100%"
        style="margin-bottom: 20px; font-size: 14px; padding-top: 10px"
      >
        <tr>
          <td align="center">
            <b>Teregister oleh:</b>
          </td>
        </tr>
      </table>

      <table
        width="100%"
        style="font-size: 14px; padding-left: 250px; padding-top: -20px"
      >
        <tr>
          <td>
            Nomor : {$data.surat.info_tambahan.no_reg_lurah|default:'....'}
          </td>
        </tr>
        <!-- <tr>
			<td>{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'SIL ONLINE'}, {$data.surat.info_tambahan.tgl_reg_camat|default:'....'}</td>
		</tr> -->
        <tr>
          <td valign="bottom" align="left">
            <b>
              {if count($data.ttd)==1}
              {$data.ttd[0]['center']}
              {else}
              {$data.ttd[0]['center']}<br>{$data.ttd[1]['center']}
              {/if}
            </b>
				  </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <u
              ><b
                >{$data.pemohon.nama|default:'...............................'}</b
              ></u
            >
          </td>
        </tr>
        <tr>
          <td>
            Nip. {$data.pemohon.nip|default:'...............................'}
          </td>
        </tr>
        <tr>
          <td>
            Pangkat/Gol.
            {$data.pemohon.pangkat|default:'............................'}
          </td>
        </tr>
      </table>

      {/if}
    </div>
  </body>
</html>
