<!DOCTYPE html>
<html>
<head>
    <title>SIMLURAH ADMINISTRASI</title>
    <style>
		table { width:100%; } 
		body { font-family: 'arial'; }
	</style>
</head>
<body>
	<div id='content'>
		<div style="padding-bottom: 5mm;">
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
				<!-- <tr>
					<td align="center" rowspan=4 valign="middle" style="width: 150px;">
						<img src="{$host}__assets/images/logo-makassar.png" style="height:100px" />
					</td>
					<td align="center" valign="bottom" style="font-size:22.6px;padding:0px">PEMERINTAH {$setting.nama_kab_kota|upper|default:'.......'}</td>
					<td align="center" rowspan=4 valign="middle"  style="width: 150px;">
						<img src="{$host}__assets/images/logo-camat.png" onerror="this.onerror=null;this.src='{$host}__assets/images/logo-blank.png';" style="height:100px" alt=" "/>
					</td>
				</tr>
				<tr>
					<td align="center" style="font-size:22.6px;padding:0px">KECAMATAN {$setting.nama_kecamatan|upper|default:'.......'}</td>
				</tr>
				<tr>
					<td align="center" valign="top" style="font-size:18.6px;padding:0px"><b>{$setting.nama_desa|upper|default:'.......'}</b></td>
				</tr>
				<tr>
					<td align="center" valign="top" style="font-size:10.6px;padding:0px">
						<i>
							{if strlen($setting.alamat)>1}
							{$setting.alamat|default:'...'}
							{/if}
							{if strlen($setting.telp)>1}
							Telp. {$setting.telp|default:'...'}
							{/if}
							{if strlen($setting.faks)>1}
							Fax. {$setting.faks|default:'...'}
							{/if}
							{if strlen($setting.email)>1}
							Email : {$setting.email|default:'...'}
							{/if}
							{if strlen($setting.nama_kab_kota)>1}
							{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'...'}
							{/if}
							{if strlen($setting.kode_pos)>1}
							Kode Pos {$setting.kode_pos|default:'...'}
							{/if}
							{if strlen($setting.website)>1}
							<br>Website : {str_replace('-','',$setting.website|default:'')}
							{/if}
						</i>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="3">
						<hr style="color: black;height: 4px; margin-bottom:0px">
						<hr style="color: black;height: 1px; margin-top:3px">
					</td>
				</tr> -->
				{include file="backend/template/kop_surat_kelurahan.html"}
			</table>
			<table cellspacing="0" border="0" width="100%" style="border-collapse: collapse;margin-left: 15px;">
				<tr>
					<td colspan=3 align="right" style="padding-right: 140px;">
						{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'.......'}, {$data.surat.tanggal_surat|default:'............................'}
					</td>
				</tr>
				<tr>
					<td align="center" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td width="70%">
						<table>
							<!-- <tr>
								<td valign="top"></td>
								<td valign="top" colspan="2">&nbsp; Kepada</td>
							</tr> -->
							
							{if $data.surat.info_tambahan.kpd_yth !=''}
							<tr>
								<td valign="top">Yth. <b>{nl2br({$data.surat.info_tambahan.kpd_yth|default:'.....................'})}</b></td>
								<td valign="top" colspan="2"></td>
								<!-- <td valign="top">{nl2br({$data.surat.info_tambahan.kpd_yth|default:'.....................'})}</td> -->
							</tr>
				
							{else}
							<tr>
								<td valign="top"></td>
								<td valign="top" colspan="2"><b>Bapak/Ibu/Saudara (i)</b></td>
							</tr>
							{/if}
				
							<tr>
								<td valign="top">di</td>
								<td valign="top">&nbsp; </td>
								<td valign="top">&nbsp;</td>
							</tr>
							{if $data.surat.info_tambahan.di_undangan != ''}
				
							<tr>
								<td valign="top">&emsp;&emsp;{$data.surat.info_tambahan.di_undangan|default:'..........'}</td>
								<td valign="top">&nbsp;</td>
								<td valign="top"></td>
							</tr>
									
							{else}
							<tr>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">>&emsp;&emsp;{ucwords(strtolower(str_replace('KOTA','',$setting.nama_kab_kota)))|default:'..........'}</td>
							</tr>
							{/if}
						</table>
					</td>
					<td width="40%">
						<table>
							<tr>
								<td valign="top"></td>
								<td valign="top"></td>
								<td valign="top" style="padding-right: 250px;"></td>
							</tr>
							<tr>
								<td valign="top"></td>
								<td valign="top"></td>
								<td valign="top" style="padding-right: 250px;"></td>
							</tr>
							<tr>
								<td valign="top"></td>
								<td valign="top"></td>
								<td valign="top" style="padding-right: 250px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan=3 align="center"><b><u>SURAT PENGANTAR</u></b></td>
				</tr>
				<tr>
					<td colspan=3 align="center" style="font-size:13.3px">NOMOR: {$data.surat.no_surat|default:'..................................................'}</td>
				</tr>
			</table>
		</div>
		<br>	
		<table cellspacing="0" cellpadding="3" border="1" width="100%" style="margin-left: 15px;border-collapse: collapse; line-height: 1.3;font-size: 12px;">
			<tr>
				<td style="width: 5%;" valign="middle" align="center"><b>No.</b></td>
				<td style="width: 40%;" valign="middle" align="center"><b>Naskah Dinas/Barang yang Dikirimkan</b></td>
				<td style="width: 20%;" valign="middle" align="center"><b>Jumlah</b></td>
				<td style="width: 37%;" valign="middle" align="center"><b>Keterangan</b></td>
			</tr>
			{$no=1} {$nox=1} 
			{foreach from=$data.surat.info_tambahan.data_dokumen item}
			<tr>
				<td style="border: hidden;padding-top: 10px; height: 120px" valign="top" align="center"><b>{$no++}.</b></td>
                <!-- <td style="border: hidden;padding-top: 10px" valign="top">{nl2br(str_replace('NIP','NIP&ensp;&ensp;&ensp;&ensp;&thinsp;&thinsp;',$item.uraian_kec))}</td> -->
                <td style="border: hidden;padding-top: 10px" valign="top">{nl2br(str_replace(['NIP','Nip','nip'],['NIP&ensp;&ensp;&ensp;&ensp;&thinsp;&thinsp;','Nip&ensp;&ensp;&ensp;&ensp;&thinsp;&thinsp;','nip&ensp;&ensp;&ensp;&ensp;&thinsp;&thinsp;'],$item.uraian_kec))}</td>
				<td style="border: hidden;padding-top: 10px" valign="top" align="center">{$item.jml_kec|default:''}</td>
				<td style="border: hidden;padding-top: 10px" valign="top">{$item.ket_kec|default:''}</td>
			</tr>
			{/foreach}
		</table>
		<br>

		<table style="border-collapse: collapse; width: 100%;line-height: 1.4;" border="0" cellpadding="0">
			<tr>
				<td style="padding-left: 2%;" colspan="3">Diterima tanggal.........................</td>
			</tr>
			<tr>
				<td style="padding-left: 2%;padding-top: 3px;">Penerima</td>
				<td></td>
				<td>Pengirim,</td>
			</tr>
			<tr>
			  <td align="left" style="padding-left: 2%;" valign="top"><br>...........................................</td>
			  <td width="27%" align="right">&nbsp;{if count($data.ttd)==1}{$data.ttd[0]['start']}{else}{$data.ttd[0]['start']}{/if}</td>
			  <td valign="top"><br>{if count($data.ttd)==1}{$data.ttd[0]['center']}{else}{$data.ttd[0]['center']}<br>{$data.ttd[1]['center']}{/if}
			</td>
			</tr>
			<tr>
			  <td><br></td>
			  <td><br></td>
			  <td><br></td>
			</tr>
			<tr>
			  <td><br></td>
			  <td><br></td>
			  <td><br></td>
			</tr>
			<tr>
			  <td><br></td>
			  <td><br></td>
			  <td><br></td>
			</tr>
			<tr>
			  <td><br></td>
			  <td><br></td>
			  <td><br></td>
			</tr>
			<tr>
			  <td style="padding-left: 2%;">
				............................................		
			  </td>
			  <td><br/></td>
			  <td>
				{$data.pemohon.nama|default:'...............................'}	
			  </td>
			</tr>
			<tr>
			  <td style="padding-left: 2%;" align="left">Pangkat, Gol : .............................</td>
			  <td>&nbsp;</td>
			  <td align="left">Pangkat, Gol : {$data.pemohon.pangkat|default:'.....................'}</td>
			</tr>
			<tr>
			  <td style="padding-left: 2%;" align="left">NIP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : .............................</td>
			  <td>&nbsp;</td>
			  <td align="left">NIP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {konversi_nip($data.pemohon.nip,' ')|default:'...............................'}</td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			  </tr>
			  <tr>
				<td><br></td>
				<td><br></td>
				<td><br></td>
			  </tr>
			<tr>
			  <td style="padding-left: 2%;" align="left">Nomor telepon.............................</td>
			  <td>&nbsp;</td>
			  <td align="left"></td>
			</tr>
		  </table>

		{if $data.surat.info_tambahan.tembusan !=''}
		<div style="padding-left: 10px;padding-top: 100px;">
			<h5>Tembusan :</h5>
			<dl>
				<dt style="font-size: 12px;padding-top: -15px">{nl2br({$data.surat.info_tambahan.tembusan|default:'.....................'})}</dt>
			</dl>
		</div>

		{else} 
		{/if}
	</div>
</body>
</html>