{assign var="readonly" value={$read|default:''}}
{if $read|default:'' eq "readonly"}
	{assign var="style_readonly" value="style='background-color:#fff !important;'"}
{else}
	{assign var="style_readonly" value=""}
{/if}

{assign var="multiple" value='' }
{if $multi|default:'' eq "multiple"}
	{assign var="multiple" value='multiple="multiple"'}  
{/if}

<div class="row" id="{$id|default:''}_parent">
	<div class="{$class_width|default:'col-lg-12'}">
		<div class="form-group">
			<label>{$label} {if $required|default:'' eq "true"}<font color="red">*</font>{/if}</label>
			{if $type eq 'select'}
				{assign var="requirednya" value=''}
				{if $required|default:'' eq "true"}
					{assign var="requirednya" value='required="true"'}
				{/if}
				
				<select id="{$id|default:''}" name="{$name|default:''}" {$multiple} {* $requirednya *} class="form-control {$class|default:''}">
					{$option|default:''}
				</select>
			{elseif $type eq 'select2'}
				{assign var="requirednya" value=''}
				{if $required|default:'' eq "true"}
					{assign var="requirednya" value='required="true"'}
				{/if}

			
			
				<select style="{$style|default:''}" id="{$id|default:''}" name="{$name|default:''}" {$multiple} {$requirednya}   class="form-control select2nya {$class|default:''}">
					{$option|default:''}
				</select>
				<label class="validation_error_message" for="{$name|default:''}"></label>	
			{elseif $type eq 'time'}
				<div class="bootstrap-timepicker">
					<div class="form-group">
						<div class="input-group">
							<input {$readonly} {$style_readonly} autocomplete="off" type="text" class="form-control pull-right timepicker {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:'00:00'}" style="{$style_obj|default:''}" />
							<div class="input-group-addon">
								<i class="fa fa-clock-o"></i>
							</div>
						</div>
					</div>
				</div>	
			{elseif $type eq 'date'}
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'off'}" type="text" placeholder="{$placeholder|default:''}" class="form-control pull-right tanggalnya{$id|default:''} {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" />
					<label for="tanggal_mulai" class="validation_error_message"></label>
				</div>
			{elseif $type eq 'date2'}
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'off'}" type="text" placeholder="{$placeholder|default:''}" class="form-control pull-right tanggalnya{$id|default:''} {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" />
					<label for="tanggal_mulai" class="validation_error_message"></label>
				</div>
			{elseif $type eq 'text'} 
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" />
			{elseif $type eq 'checkbox'}
				{if $value neq ''}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="checkbox" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" checked />
				{else}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="checkbox" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" />
				{/if}
			{elseif $type eq 'pnj_karakter'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="16" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_passport'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="9" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_no_bpjs'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="11" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_pengenalan'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="12" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_karakter_nip'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="18" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_karakter_npwp'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="20" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_rt'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="3" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_hp'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="13" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'pnj_tahun'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" maxlength="4" oninput="this.value= this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');"/>
			{elseif $type eq 'baca_aja'}
				<input type="text" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" readonly/>
			{elseif $type eq 'angka'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="text" style="text-align: right;" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="{$style_obj|default:''}" />
			{elseif $type eq 'select2'}
				<input {$readonly} {$style_readonly} autocomplete="{$auto|default:'on'}" type="select2" placeholder="{$placeholder|default:''}" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" style="width:100% !important;{$style_obj|default:''}" />
			{elseif $type eq 'file'}
				<input {$readonly} type="file" class="{$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" style="{$style_obj|default:''}" accept="image/jpeg,image/jpg,image/png,application/pdf" />
			{elseif $type eq 'filemulti'}
			<input {$readonly} multiple type="file" class="{$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" style="{$style_obj|default:''}" accept="image/jpeg,image/jpg,image/png,application/pdf" />
			{elseif $type eq 'pwd'}
				 <div class="input-group">
					<input type="password" class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}" value="{$value|default:''}" />
					<span class="input-group-addon">
						<a href="javascript:void(0);" onclick="konversi_pwd_text('{$id}')">Show</a>
					</span> 
				 </div>
			{elseif $type eq 'textarea'}
				<textarea class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}">{$value|default:''}</textarea>
			{elseif $type eq 'textareabesar'}
				<textarea class="form-control {$class|default:''}" style="height: 226px;" id="{$id|default:''}" name="{$name|default:''}">{$value|default:''}</textarea>
			{elseif $type eq 'textarea_wysig'}
				<textarea class="form-control {$class|default:''}" id="{$id|default:''}" name="{$name|default:''}">{$value|default:''}</textarea>
			{/if}
		</div>
	</div>
</div>

<script>
	var startDate = '{$startDate}',endDate = '{$endDate}',id='{$id|default:""}';
	{if $type eq 'time'}
		$('.timepicker').timepicker({
			showInputs: false,
			showMeridian: false,
			defaultTime : ''
		});
	{/if}
	{if $type eq 'date' and isset($limit) eq 'true'}
		$('.tanggalnya'+id).datepicker({ 
			autoclose:true,
			startDate: new Date(startDate),
            endDate: new Date(endDate),
			// format: 'yyyy-mm-dd',
			format: 'dd-mm-yyyy',
			orientation:'bottom',
			changeMonth: true,
			changeYear: true,
			yearRange: "c-80:c+10",
			dayNamesMin: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
			monthNamesShort: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
		}).on('keypress',function(e) {
			const key = e.which || e.keyCode;
			if (key != 32 && (key < 48 || key > 57) && key != 45) {
				e.preventDefault();
			}
		});

	{elseif $type eq 'date'}
		$('.tanggalnya'+id).datepicker({ 
			autoclose:true,
			// format: 'yyyy-mm-dd',
			format: 'dd-mm-yyyy',
			orientation:'bottom',
			changeMonth: true,
			changeYear: true,
			yearRange: "c-80:c+10",
			dayNamesMin: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
			monthNamesShort: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
		}).on('keypress',function(e) {
			const key = e.which || e.keyCode;
			if (key != 32 && (key < 48 || key > 57) && key != 45) {
				e.preventDefault();
			}
		});
	{elseif $type eq 'date2'}
		$('.tanggalnya'+id).datepicker({ 
			autoclose:true,
			format: 'dd-mm-yyyy',
			orientation:'bottom',
			changeMonth: true,
			changeYear: true,
			yearRange: "c-80:c+10",
			dayNamesMin: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
			monthNamesShort: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
		}).on('keypress',function(e) {
			const key = e.which || e.keyCode;
			if (key != 32 && (key < 48 || key > 57) && key != 45) {
				e.preventDefault();
			}
		});
	{/if}
	
	{if $type eq 'select2'}
		$("#{$id}").select2({
			width: $("#{$id}").parent().width(),
		});
	{/if}

	{if $type eq 'date' or  $type eq 'date2'}
	/* document.getElementsByClassName('tanggalnya'+id).addEventListener('keypress', function (e) {
		const key = e.which || e.keyCode;
		if (key != 32 && (key < 48 || key > 57) && key != 45) {
			e.preventDefault();
		}
	}); */
	{/if}

	/* {if $type eq 'select'}
		$("#{$id}").select2({
			templateSelection:formatSelected,
			width: $("#{$id}").parent().width(),
		});

		function formatSelected(value) {
		if(!value.id){
			return value.text
		}
		var $value=$('<label>'+value.id+'</label>');
		return $value;
	}
	{/if} */
	
	{if $type eq 'textarea_wysig'}
		CKEDITOR.config.toolbar = [
		   ['Styles','Format','Font','FontSize'],
		   '/',
		   ['Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste','Find','Replace','-','NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
		];
		CKEDITOR.replace( '{$id}', {
			height:'300px',
			shiftEnterMode : CKEDITOR.ENTER_P,
			enterMode : CKEDITOR.ENTER_BR,
			tabSpaces:4
		} );
	{/if}
</script>
